{% assign CuralinBannerURL = 'https://cdn.shopify.com/s/files/1/0452/2459/1511/files/article-banner-curalin-curalim.png?v=1719329896' %}
{% assign CuraslimBannerURL = 'https://cdn.shopify.com/s/files/1/0452/2459/1511/files/article-banner-curaslim.png?v=1719329896' %}
{% assign CuralinCuraslimBannerURL = 'https://cdn.shopify.com/s/files/1/0452/2459/1511/files/article-banner-curalin-curalim.png?v=1719329896' %}

{% assign relatedCuralinKeywords = "Curalin,Glucose Support,Diabetes,Blood Sugar" | split: "," %}
{% assign relatedCuralinTags = "curalin,blood-sugar,glucose-support" | split: "," %}

{% assign relatedCuraslimKeywords = "Curaslim,Weight Loss,Appetite Control,Carb Blocker" | split: "," %}
{% assign relatedCuraslimTags = "curaslim,weight-loss,appetite-control,carb-blocker" | split: "," %}

{% assign articleTags = article.tags | join: "," | split: "," %}

{% assign contentMatchesCuralin = false %}
{% assign contentMatchesCuraslim = false %}

{% for keyword in relatedCuralinKeywords %}
  {% if article.content contains keyword %}
    {% assign contentMatchesCuralin = true %}
    {% break %}
  {% endif %}
{% endfor %}

{% for keyword in relatedCuraslimKeywords %}
  {% if article.content contains keyword %}
    {% assign contentMatchesCuraslim = true %}
    {% break %}
  {% endif %}
{% endfor %}

{% if contentMatchesCuralin %}
  {% assign ChosenBannerURL = CuralinBannerURL %}
{% elsif contentMatchesCuraslim %}
  {% assign ChosenBannerURL = CuraslimBannerURL %}
{% elsif articleTags contains relatedCuralinTags %}
  {% assign ChosenBannerURL = CuralinBannerURL %}
{% elsif articleTags contains relatedCuraslimTags %}
  {% assign ChosenBannerURL = CuraslimBannerURL %}
{% else %}
  {% assign ChosenBannerURL = CuralinCuraslimBannerURL %}
{% endif %}

<div class="sidebar-banner mb-10">
  <img class="w-full" src="{{ ChosenBannerURL }}" alt="sidebar banner" width="300" height="250" loading="lazy">
  {% comment %} <div class="email-signup-form"></div> {% endcomment %}
</div>