<div class="sidebar-banner">
  <img src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/article-banner-curalin-curalim.png?v=1719329896" alt="sidebar banner" width="300" height="250" loading="lazy">
  {% comment %} <div class="email-signup-form"></div> {% endcomment %}
</div>