<div class="our-story-curalife">
    <div class="container">
        <div class="curalife-text">
            <div class="curalife-title">
                <h1>Cura &#x2022; life</h1>
            </div>
        </div>
    </div>
</div>