<div class="son-father">
    <div class="container">
        <div class="our-story-title">Our <span>Story</span></div>
        <div class="son-father-text">begins with a son and his father.</div>
    </div>
</div>


<style>
    .son-father {
        padding: 20px 0;
    }
    .our-story-title {
        font-family: 'PP Radio Grotesk';
        font-weight: 700;
        font-size: 57px;
        line-height: 69px;
        display: flex;
        justify-content: center;
        color: #404733;
    }

    .our-story-title span {
        background-image: url("{{ 'our-story-son-father-swoosh.png' | asset_url }}");
    }

    .son-father-text {
        font-family: 'PP Radio Grotesk';
        font-weight: 400;
        font-size: 34px;
        line-height: 41px;
        display: flex;
        justify-content: center;
        text-align: center;
        text-transform: capitalize;
        color: #404733;
    }


    @media screen and (max-width: 768px) {
        .our-story-title {
            font-size: 13vw;
            line-height: 1.2em;
        }

    
    }
</style>