<div class="yotpo-pdp flex justify-center gap-1 text-[14px] py-2">
  <i class="fa-duotone fa-coins"></i>
  <span>This purchase would earn you </span>
  <span
    class="swell-product-helper current-price font-bold"
    data-mode="display-points"
    data-product-id="{{ product.id }}"
    data-price-cents="{{ product.price }}">xx</span>
  <span class="font-bold"> curapoints!</span>
</div>

<script>
  $(".product-actions .variant-box").click(function() {
    let currentPrice = $(this).find(".real-price").html();
    currentPrice = currentPrice.substring(1, currentPrice.length);
    console.log("currentprice: " + currentPrice);
    $(".current-price").html(currentPrice);
  });
</script>