<style>
  .yotpo-pdp {
    padding: 20px 10px;
  }

  .yotpo-pdp .yotpo-title {
    font-family: PP Radio Grotesk,sans-serif !important;
    font-weight: 700 !important;
    color: #3A7684 !important;
    font-size: 29px;
    line-height: 35px;
  }

  .yotpo-pdp span {
    color: #000;
    font-weight: 500;
  }

</style>

<div class="yotpo-pdp">
  <span class="yotpo-title">curapoints</span><br>
  <span>This purchase would earn you </span>
  <span
    class="swell-product-helper"
    data-mode="display-points"
    data-product-id="{{ product.id }}"
    data-price-cents="{{ product.price }}">xx </span>
  <span>points</span>
</div>