<section class="hero-section p-4">
  <div class="bg"></div>

  <div class="container text-center mb-auto">
    <div class="top-bar flex justify-between items mb-12">
      <div class="left flex gap-4 items-center">
        <img src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/curalife-logo-white.png?v=1678034399" alt="Curaslim 2024 Logo">

        <div class="reviews flex gap-2 items-center">
          <div class="stars">{% for star in (1..5) %}<i class="fa-sharp fa-solid fa-star text-[--orange] mr-1"></i>{% endfor %}</div>
          <div class="text-xs text-white text-start">45,852 verified<br>reviews</div>
        </div>
      </div>

      <div class="right">
        <Button class="bg-white text-black" src="#">Buy Now</Button>
      </div>
    </div>

    <div class="content">
      <h1 class="text-white"><strong>Lose Weight Fast</strong> <span class="italic font-thin"><span class="text-[--orange]">With Curaslim's</span><br>powerful Triple - Action Formula!</span></h1>
      <Button class="bg-[--orange] text-black" src="#">Buy Now</Button>
    </div>

    <img class="review" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_1597877448.png?v=1723474133" alt="Curaslim 2024 Hero Image 1">
    <img class="badge" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_1597877668.png?v=1723474133" alt="Curaslim 2024 Hero Image 1">
    <img class="bottles" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_1597877740.png?v=1723474133" alt="Curaslim 2024 Hero Image 1">
    <img class="badges" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_1597877453.png?v=1723474133" alt="Curaslim 2024 Hero Image 2">
  </div>
</section>

<div id="parallax-hero" class="parallax-hero parallax-hero-container">

    <div class="parallax-hero-inner">

      <div class="parallax-hero-image parallax-hero-image-scroll parallax-hero-top-left-image" data-scroll-speed="9">
        <img src="https://www.yoplait.dev04.dekodes.no/app/uploads/sites/2/2020/01/Sitron-skje_2.png"
          srcset="https://www.yoplait.dev04.dekodes.no/app/uploads/sites/2/2020/01/Sitron-skje_2-300x263.png 300w, https://www.yoplait.dev04.dekodes.no/app/uploads/sites/2/2020/01/Sitron-skje_2-768x673.png 768w, https://www.yoplait.dev04.dekodes.no/app/uploads/sites/2/2020/01/Sitron-skje_2-80x70.png 80w, https://www.yoplait.dev04.dekodes.no/app/uploads/sites/2/2020/01/Sitron-skje_2-137x120.png 137w, https://www.yoplait.dev04.dekodes.no/app/uploads/sites/2/2020/01/Sitron-skje_2.png 902w"
          alt="Sitron skje_2" role="presentation">
      </div>

      <div class="parallax-hero-image parallax-hero-image-scroll parallax-hero-top-right-image"
        data-scroll-speed="3">
        <img src="https://www.yoplait.dev04.dekodes.no/app/uploads/sites/2/2020/01/Karamell_skje_2.png"
          srcset="https://www.yoplait.dev04.dekodes.no/app/uploads/sites/2/2020/01/Karamell_skje_2-300x198.png 300w, https://www.yoplait.dev04.dekodes.no/app/uploads/sites/2/2020/01/Karamell_skje_2-768x507.png 768w, https://www.yoplait.dev04.dekodes.no/app/uploads/sites/2/2020/01/Karamell_skje_2-106x70.png 106w, https://www.yoplait.dev04.dekodes.no/app/uploads/sites/2/2020/01/Karamell_skje_2-182x120.png 182w, https://www.yoplait.dev04.dekodes.no/app/uploads/sites/2/2020/01/Karamell_skje_2.png 1002w"
          alt="Karamell_skje_2" role="presentation">
      </div>

      <div class="parallax-hero-logo-image parallax-hero-image-scroll" data-scroll-speed="5">
        <img src="https://www.yoplait.dev04.dekodes.no/app/uploads/sites/2/2019/12/SMAKEN-3.png"
          srcset="https://www.yoplait.dev04.dekodes.no/app/uploads/sites/2/2019/12/SMAKEN-3-300x141.png 300w, https://www.yoplait.dev04.dekodes.no/app/uploads/sites/2/2019/12/SMAKEN-3-768x362.png 768w, https://www.yoplait.dev04.dekodes.no/app/uploads/sites/2/2019/12/SMAKEN-3-148x70.png 148w, https://www.yoplait.dev04.dekodes.no/app/uploads/sites/2/2019/12/SMAKEN-3-254x120.png 254w, https://www.yoplait.dev04.dekodes.no/app/uploads/sites/2/2019/12/SMAKEN-3.png 774w"
          alt="SMAKEN-3" role="presentation">
      </div>

      <div class="parallax-hero-image parallax-hero-image-scroll parallax-hero-bottom-left-image"
        data-scroll-speed="4">
        <img src="https://www.yoplait.dev04.dekodes.no/app/uploads/sites/2/2020/01/Naturell_skje_2-1.png"
          srcset="https://www.yoplait.dev04.dekodes.no/app/uploads/sites/2/2020/01/Naturell_skje_2-1-300x233.png 300w, https://www.yoplait.dev04.dekodes.no/app/uploads/sites/2/2020/01/Naturell_skje_2-1-768x595.png 768w, https://www.yoplait.dev04.dekodes.no/app/uploads/sites/2/2020/01/Naturell_skje_2-1-90x70.png 90w, https://www.yoplait.dev04.dekodes.no/app/uploads/sites/2/2020/01/Naturell_skje_2-1-155x120.png 155w, https://www.yoplait.dev04.dekodes.no/app/uploads/sites/2/2020/01/Naturell_skje_2-1.png 957w"
          alt="Naturell_skje_2" role="presentation">
      </div>

      <div class="parallax-hero-image parallax-hero-bottom-right-image" data-scroll-speed="1">
        <img src="https://www.yoplait.dev04.dekodes.no/app/uploads/sites/2/2020/01/Blaabaer_skje_2.png"
          srcset="https://www.yoplait.dev04.dekodes.no/app/uploads/sites/2/2020/01/Blaabaer_skje_2-261x300.png 261w, https://www.yoplait.dev04.dekodes.no/app/uploads/sites/2/2020/01/Blaabaer_skje_2-768x882.png 768w, https://www.yoplait.dev04.dekodes.no/app/uploads/sites/2/2020/01/Blaabaer_skje_2-61x70.png 61w, https://www.yoplait.dev04.dekodes.no/app/uploads/sites/2/2020/01/Blaabaer_skje_2-104x120.png 104w, https://www.yoplait.dev04.dekodes.no/app/uploads/sites/2/2020/01/Blaabaer_skje_2.png 779w"
          alt="Blaabaer_skje_2" role="presentation">
      </div>

    </div>
  </div>

  <div class="filler"></div>

  <style>
    HTML CSS JSResult Skip Results Iframe
.filler {
  height: 3000px;
  width: 100%;
  background-color: grey;
}

.parallax-hero {
  background-image: url("https://www.yoplait.dev04.dekodes.no/app/uploads/sites/2/2020/01/bg_para_blur-1920x1207.jpg");
}

/*
#parallax-hero img {
  max-height: 100%;
  max-width: 100%;
} */

.parallax-hero-inner {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  width: 100%
}

.parallax-hero-logo-image {
  width: 80%;
  max-width: 650px;
  z-index: 1
}


.parallax-hero-image {
  position: absolute;
  width: 90%;
  max-height: 50%;
  z-index: 1
}

.parallax-hero-bottom-right-image {
  display: none
}

.parallax-hero-top-left-image {
  top: -8%;
  left: -35%;
}


.parallax-hero-top-right-image {
  top: 5%;
  right: -40%;
}


.parallax-hero-bottom-left-image {
  bottom: -0%;
  left: -45%;
  z-index: 2
}

.parallax-hero-bottom-right-image {
  bottom: -5%;
  right: -35%;
  display: block;
  z-index: 0
}


@media screen and (min-width: 62.5em) {
  .parallax-hero-image {
    width: 55%;
    max-height: 40%;
  }

  .parallax-hero-logo-image {
    width: 35%;
  }

  .parallax-hero-top-left-image {
    top: -8%;
    left: -10%;
  }


  .parallax-hero-top-right-image {
    right: -10%;
    top: 5%
  }


  .parallax-hero-bottom-left-image {
    bottom: -0%;
    left: -15%;
    z-index: 2
  }

  .parallax-hero-bottom-right-image {
    bottom: -5%;
    right: -5%;
    display: block;
    z-index: 0
  }

}


/* div {
  border: 1px solid black;
}


.parallax-hero {
  border: 1px solid green;
} */

  </style>

  <script>
    //Parallax scroll: https://codepen.io/JTParrett/pen/BkDie
$(document).ready(function () {
  $.fn.moveIt = function () {
    var $window = $(window);
    var instances = [];

    $(this).each(function () {
      instances.push(new moveItItem($(this)));
    });

    window.addEventListener('scroll', function () {
      var scrollTop = $window.scrollTop();
      instances.forEach(function (inst) {
        inst.update(scrollTop);
      });
    }, {
      passive: true
    });
  }

  var moveItItem = function (el) {
    this.el = $(el);
    this.speed = parseInt(this.el.attr('data-scroll-speed'));
  };

  moveItItem.prototype.update = function (scrollTop) {
    this.el.css('transform', 'translateY(' + -(scrollTop / this.speed) + 'px)');
  };

  // Initialization
  $(function () {
    $('[data-scroll-speed]').moveIt();
  });
});



! function (e) {
  var t = {};

  function n(r) {
    if (t[r]) return t[r].exports;
    var o = t[r] = {
      i: r,
      l: !1,
      exports: {}
    };
    return e[r].call(o.exports, o, o.exports, n), o.l = !0, o.exports
  }
  n.m = e, n.c = t, n.d = function (e, t, r) {
    n.o(e, t) || Object.defineProperty(e, t, {
      configurable: !1,
      enumerable: !0,
      get: r
    })
  }, n.n = function (e) {
    var t = e && e.__esModule ? function () {
      return e.default
    } : function () {
      return e
    };
    return n.d(t, "a", t), t
  }, n.o = function (e, t) {
    return Object.prototype.hasOwnProperty.call(e, t)
  }, n.p = "", n(n.s = 8)
}([function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.getBody = function () {
    var e = document,
      t = e.body;
    t || ((t = e.createElement("body")).fake = !0);
    return t
  }
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.setFakeBody = function (e) {
    var t = "";
    e.fake && (t = r.docElement.style.overflow, e.style.background = "", e.style.overflow = r.docElement.style.overflow = "hidden", r.docElement.appendChild(e));
    return t
  };
  var r = n(5)
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.resetFakeBody = function (e, t) {
    e.fake && (e.remove(), r.docElement.style.overflow = t, r.docElement.offsetHeight)
  };
  var r = n(5)
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.raf = void 0;
  var r = window,
    o = r.requestAnimationFrame || r.webkitRequestAnimationFrame || r.mozRequestAnimationFrame || r.msRequestAnimationFrame || function (e) {
      return setTimeout(e, 16)
    };
  t.raf = o
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), Object.defineProperty(t, "classListSupport", {
    enumerable: !0,
    get: function () {
      return r.classListSupport
    }
  }), t.hasClass = void 0;
  var r = n(31),
    o = r.classListSupport ? function (e, t) {
      return e.classList.contains(t)
    } : function (e, t) {
      return e.className.indexOf(t) >= 0
    };
  t.hasClass = o
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.docElement = void 0;
  var r = document.documentElement;
  t.docElement = r
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.isNodeList = function (e) {
    return void 0 !== e.item
  }
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.passiveOption = void 0;
  var r = !1;
  try {
    var o = Object.defineProperty({}, "passive", {
      get: function () {
        r = !0
      }
    });
    window.addEventListener("test", null, o)
  } catch (e) {}
  var i = !!r && {
    passive: !0
  };
  t.passiveOption = i
}, function (e, t, n) {
  n(9), e.exports = n(53)
}, function (e, t, n) {
  "use strict";
  n(10), n(11), n(12), n(49), n(50), n(51), n(52)
}, function (e, t, n) {
  "use strict";

  function r(e, t) {
    for (var n = 0; n < t.length; n++) {
      var r = t[n];
      r.enumerable = r.enumerable || !1, r.configurable = !0, "value" in r && (r.writable = !0), Object.defineProperty(e, r.key, r)
    }
  }
  var o = document.getElementById("parallax-container");
  new(function () {
    function e() {
      ! function (e, t) {
        if (!(e instanceof t)) throw new TypeError("Cannot call a class as a function")
      }(this, e), o && (window.addEventListener("scroll", this.parallax), o.onmousemove = this.handleMouseMove, window.addEventListener("deviceorientation", this.handleOrientation, !0))
    }
    var t, n, i;
    return t = e, (n = [{
      key: "handleOrientation",
      value: function (e) {
        for (var t = o.querySelectorAll(".parallax-scroll:not(.main-image)"), n = e.gamma / 2, r = e.beta / 2, i = 0; i < t.length; i++) {
          var a = n / (i + 2),
            s = r / (i + 2);
          t[i].style.transform = "translateX(" + a + "%) translateY(" + s + "%)"
        }
      }
    }, {
      key: "parallax",
      value: function () {
        for (var e = o.querySelectorAll(".parallax-background"), t = 0; t < e.length; t++) e[t].style.transform = "translateY(-" + window.pageYOffset * t / e.length + "px)"
      }
    }]) && r(t.prototype, n), i && r(t, i), e
  }())
}, function (e, t, n) {
  "use strict";

  function r(e, t) {
    for (var n = 0; n < t.length; n++) {
      var r = t[n];
      r.enumerable = r.enumerable || !1, r.configurable = !0, "value" in r && (r.writable = !0), Object.defineProperty(e, r.key, r)
    }
  }
  var o = document.getElementById("parallax-hero");
  new(function () {
    function e() {
      ! function (e, t) {
        if (!(e instanceof t)) throw new TypeError("Cannot call a class as a function")
      }(this, e), o && window.addEventListener("scroll", this.parallax)
    }
    var t, n, i;
    return t = e, (n = [{
      key: "parallax",
      value: function () {
        for (var e = o.querySelectorAll(".parallax-hero-image-scroll"), t = 0; t < e.length; t++) e[t].classList.contains("parallax-hero-logo-image") ? e[t].style.transform = "translateY(-" + window.pageYOffset * (t + 1) / 5 + "px)" : e[t].style.transform = "translateY(-" + window.pageYOffset * (t + 1) / 1 + "px)"
      }
    }]) && r(t.prototype, n), i && r(t, i), e
  }())





}, function (e, t, n) {
  "use strict";
  var r = n(13);
  var o = document.querySelector(".carousel");
  new function e() {
    if (function (e, t) {
        if (!(e instanceof t)) throw new TypeError("Cannot call a class as a function")
      }(this, e), o) {
      var t = (0, r.tns)({
        container: o,
        loop: !1,
        items: 1,
        center: !0,
        speed: 400,
        mouseDrag: !0,
        swipeAngle: 45,
        startIndex: 1,
        responsive: {
          900: {
            items: 3
          }
        },
        nav: !0,
        navPosition: "bottom",
        navAsThumbnails: !0
      });
      document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".carousel-item")[1].classList.add("active")
      }), t.events.on("indexChanged", function () {
        var e = t.getInfo(),
          n = e.slideItems[e.index],
          r = e.slideItems[e.indexCached];
        n.classList.add("active"), r.classList.remove("active")
      })
    }
  }
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.tns = void 0, n(14), n(15);
  var r = n(3),
    o = n(16),
    i = n(17),
    a = n(18),
    s = n(19),
    l = n(20),
    u = n(21),
    c = n(22),
    d = n(23),
    f = n(24),
    v = n(25),
    m = n(26),
    p = n(27),
    h = n(28),
    y = n(29),
    g = n(30),
    b = n(4),
    E = n(32),
    C = n(33),
    x = n(34),
    w = n(35),
    S = n(36),
    M = n(37),
    L = n(38),
    O = n(39),
    A = n(40),
    P = n(41),
    T = n(42),
    _ = n(43),
    k = n(44),
    j = n(45),
    B = n(46),
    R = n(47),
    N = n(48);

  function D(e) {
    return (D = "function" == typeof Symbol && "symbol" == typeof Symbol.iterator ? function (e) {
      return typeof e
    } : function (e) {
      return e && "function" == typeof Symbol && e.constructor === Symbol && e !== Symbol.prototype ? "symbol" : typeof e
    })(e)
  }
  t.tns = function e(t) {
    t = (0, i.extend)({
      container: ".slider",
      mode: "carousel",
      axis: "horizontal",
      items: 1,
      gutter: 0,
      edgePadding: 0,
      fixedWidth: !1,
      autoWidth: !1,
      viewportMax: !1,
      slideBy: 1,
      center: !1,
      controls: !0,
      controlsPosition: "top",
      controlsText: ["prev", "next"],
      controlsContainer: !1,
      prevButton: !1,
      nextButton: !1,
      nav: !0,
      navPosition: "top",
      navContainer: !1,
      navAsThumbnails: !1,
      arrowKeys: !1,
      speed: 300,
      autoplay: !1,
      autoplayPosition: "top",
      autoplayTimeout: 5e3,
      autoplayDirection: "forward",
      autoplayText: ["start", "stop"],
      autoplayHoverPause: !1,
      autoplayButton: !1,
      autoplayButtonOutput: !0,
      autoplayResetOnVisibility: !0,
      animateIn: "tns-fadeIn",
      animateOut: "tns-fadeOut",
      animateNormal: "tns-normal",
      animateDelay: !1,
      loop: !0,
      rewind: !1,
      autoHeight: !1,
      responsive: !1,
      lazyload: !1,
      lazyloadSelector: ".tns-lazy-img",
      touch: !0,
      mouseDrag: !1,
      swipeAngle: 15,
      nested: !1,
      preventActionWhenRunning: !1,
      preventScrollOnTouch: !1,
      freezable: !0,
      onInit: !1,
      useLocalStorage: !0
    }, t || {});
    var n = document,
      H = window,
      I = {
        ENTER: 13,
        SPACE: 32,
        LEFT: 37,
        RIGHT: 39
      },
      q = {},
      F = t.useLocalStorage;
    if (F) {
      var z = navigator.userAgent,
        W = new Date;
      try {
        (q = H.localStorage) ? (q.setItem(W, W), F = q.getItem(W) == W, q.removeItem(W)) : F = !1, F || (q = {})
      } catch (e) {
        F = !1
      }
      F && (q.tnsApp && q.tnsApp !== z && ["tC", "tPL", "tMQ", "tTf", "t3D", "tTDu", "tTDe", "tADu", "tADe", "tTE", "tAE"].forEach(function (e) {
        q.removeItem(e)
      }), localStorage.tnsApp = z)
    }
    var V = q.tC ? (0, a.checkStorageValue)(q.tC) : (0, s.setLocalStorage)(q, "tC", (0, u.calc)(), F),
      Y = q.tPL ? (0, a.checkStorageValue)(q.tPL) : (0, s.setLocalStorage)(q, "tPL", (0, c.percentageLayout)(), F),
      X = q.tMQ ? (0, a.checkStorageValue)(q.tMQ) : (0, s.setLocalStorage)(q, "tMQ", (0, d.mediaquerySupport)(), F),
      G = q.tTf ? (0, a.checkStorageValue)(q.tTf) : (0, s.setLocalStorage)(q, "tTf", (0, T.whichProperty)("transform"), F),
      Q = q.t3D ? (0, a.checkStorageValue)(q.t3D) : (0, s.setLocalStorage)(q, "t3D", (0, _.has3DTransforms)(G), F),
      K = q.tTDu ? (0, a.checkStorageValue)(q.tTDu) : (0, s.setLocalStorage)(q, "tTDu", (0, T.whichProperty)("transitionDuration"), F),
      J = q.tTDe ? (0, a.checkStorageValue)(q.tTDe) : (0, s.setLocalStorage)(q, "tTDe", (0, T.whichProperty)("transitionDelay"), F),
      U = q.tADu ? (0, a.checkStorageValue)(q.tADu) : (0, s.setLocalStorage)(q, "tADu", (0, T.whichProperty)("animationDuration"), F),
      Z = q.tADe ? (0, a.checkStorageValue)(q.tADe) : (0, s.setLocalStorage)(q, "tADe", (0, T.whichProperty)("animationDelay"), F),
      $ = q.tTE ? (0, a.checkStorageValue)(q.tTE) : (0, s.setLocalStorage)(q, "tTE", (0, k.getEndProperty)(K, "Transition"), F),
      ee = q.tAE ? (0, a.checkStorageValue)(q.tAE) : (0, s.setLocalStorage)(q, "tAE", (0, k.getEndProperty)(U, "Animation"), F),
      te = H.console && "function" == typeof H.console.warn,
      ne = ["container", "controlsContainer", "prevButton", "nextButton", "navContainer", "autoplayButton"],
      re = {};
    if (ne.forEach(function (e) {
        if ("string" == typeof t[e]) {
          var r = t[e],
            o = n.querySelector(r);
          if (re[e] = r, !o || !o.nodeName) return void(te && console.warn("Can't find", t[e]));
          t[e] = o
        }
      }), !(t.container.children.length < 1)) {
      var oe = t.responsive,
        ie = t.nested,
        ae = "carousel" === t.mode;
      if (oe) {
        0 in oe && (t = (0, i.extend)(t, oe[0]), delete oe[0]);
        var se = {};
        for (var le in oe) {
          var ue = oe[le];
          ue = "number" == typeof ue ? {
            items: ue
          } : ue, se[le] = ue
        }
        oe = se, se = null
      }
      if (ae || function e(t) {
          for (var n in t) ae || ("slideBy" === n && (t[n] = "page"), "edgePadding" === n && (t[n] = !1), "autoHeight" === n && (t[n] = !1)), "responsive" === n && e(t[n])
        }(t), !ae) {
        t.axis = "horizontal", t.slideBy = "page", t.edgePadding = !1;
        var ce = t.animateIn,
          de = t.animateOut,
          fe = t.animateDelay,
          ve = t.animateNormal
      }
      var me, pe, he = "horizontal" === t.axis,
        ye = n.createElement("div"),
        ge = n.createElement("div"),
        be = t.container,
        Ee = be.parentNode,
        Ce = be.outerHTML,
        xe = be.children,
        we = xe.length,
        Se = Rn(),
        Me = !1;
      oe && tr(), ae && (be.className += " tns-vpfix");
      var Le, Oe, Ae, Pe, Te, _e = t.autoWidth,
        ke = In("fixedWidth"),
        je = In("edgePadding"),
        Be = In("gutter"),
        Re = Dn(),
        Ne = In("center"),
        De = _e ? 1 : Math.floor(In("items")),
        He = In("slideBy"),
        Ie = t.viewportMax || t.fixedWidthViewportWidth,
        qe = In("arrowKeys"),
        Fe = In("speed"),
        ze = t.rewind,
        We = !ze && t.loop,
        Ve = In("autoHeight"),
        Ye = In("controls"),
        Xe = In("controlsText"),
        Ge = In("nav"),
        Qe = In("touch"),
        Ke = In("mouseDrag"),
        Je = In("autoplay"),
        Ue = In("autoplayTimeout"),
        Ze = In("autoplayText"),
        $e = In("autoplayHoverPause"),
        et = In("autoplayResetOnVisibility"),
        tt = (0, f.createStyleSheet)(),
        nt = t.lazyload,
        rt = (t.lazyloadSelector, []),
        ot = We ? (Pe = function () {
          if (_e || ke && !Ie) return we - 1;
          var e = ke ? "fixedWidth" : "items",
            n = [];
          if ((ke || t[e] < we) && n.push(t[e]), oe)
            for (var r in oe) {
              var o = oe[r][e];
              o && (ke || o < we) && n.push(o)
            }
          return n.length || n.push(0), Math.ceil(ke ? Ie / Math.min.apply(null, n) : Math.max.apply(null, n))
        }(), Te = ae ? Math.ceil((5 * Pe - we) / 2) : 4 * Pe - we, Te = Math.max(Pe, Te), Hn("edgePadding") ? Te + 1 : Te) : 0,
        it = ae ? we + 2 * ot : we + ot,
        at = !(!ke && !_e || We),
        st = ke ? Ar() : null,
        lt = !ae || !We,
        ut = he ? "left" : "top",
        ct = "",
        dt = "",
        ft = ke ? function () {
          return Ne && !We ? we - 1 : Math.ceil(-st / (ke + Be))
        } : _e ? function () {
          for (var e = it; e--;)
            if (Le[e] >= -st) return e
        } : function () {
          return Ne && ae && !We ? we - 1 : We || ae ? Math.max(0, it - Math.ceil(De)) : it - 1
        },
        vt = kn(In("startIndex")),
        mt = vt,
        pt = (_n(), 0),
        ht = _e ? null : ft(),
        yt = t.preventActionWhenRunning,
        gt = t.swipeAngle,
        bt = !gt || "?",
        Et = !1,
        Ct = t.onInit,
        xt = new R.Events,
        wt = " tns-slider tns-" + t.mode,
        St = be.id || (0, l.getSlideId)(),
        Mt = In("disable"),
        Lt = !1,
        Ot = t.freezable,
        At = !(!Ot || _e) && er(),
        Pt = !1,
        Tt = {
          click: Dr,
          keydown: function (e) {
            e = Yr(e);
            var t = [I.LEFT, I.RIGHT].indexOf(e.keyCode);
            t >= 0 && (0 === t ? Ut.disabled || Dr(e, -1) : Zt.disabled || Dr(e, 1))
          }
        },
        _t = {
          click: function (e) {
            if (Et) {
              if (yt) return;
              Rr()
            }
            for (var t = Xr(e = Yr(e)); t !== nn && !(0, x.hasAttr)(t, "data-nav");) t = t.parentNode;
            if ((0, x.hasAttr)(t, "data-nav")) {
              var n = sn = Number((0, w.getAttr)(t, "data-nav")),
                r = ke || _e ? n * we / on : n * De,
                o = It ? n : Math.min(Math.ceil(r), we - 1);
              Nr(o, e), ln === n && (mn && zr(), sn = -1)
            }
          },
          keydown: function (e) {
            e = Yr(e);
            var t = n.activeElement;
            if ((0, x.hasAttr)(t, "data-nav")) {
              var r = [I.LEFT, I.RIGHT, I.ENTER, I.SPACE].indexOf(e.keyCode),
                o = Number((0, w.getAttr)(t, "data-nav"));
              r >= 0 && (0 === r ? o > 0 && Vr(tn[o - 1]) : 1 === r ? o < on - 1 && Vr(tn[o + 1]) : (sn = o, Nr(o, e)))
            }
          }
        },
        kt = {
          mouseover: function () {
            mn && (Ir(), pn = !0)
          },
          mouseout: function () {
            pn && (Hr(), pn = !1)
          }
        },
        jt = {
          visibilitychange: function () {
            n.hidden ? mn && (Ir(), yn = !0) : yn && (Hr(), yn = !1)
          }
        },
        Bt = {
          keydown: function (e) {
            e = Yr(e);
            var t = [I.LEFT, I.RIGHT].indexOf(e.keyCode);
            t >= 0 && Dr(e, 0 === t ? -1 : 1)
          }
        },
        Rt = {
          touchstart: Jr,
          touchmove: Ur,
          touchend: Zr,
          touchcancel: Zr
        },
        Nt = {
          mousedown: Jr,
          mousemove: Ur,
          mouseup: Zr,
          mouseleave: Zr
        },
        Dt = Hn("controls"),
        Ht = Hn("nav"),
        It = !!_e || t.navAsThumbnails,
        qt = Hn("autoplay"),
        Ft = Hn("touch"),
        zt = Hn("mouseDrag"),
        Wt = "tns-slide-active",
        Vt = "tns-complete",
        Yt = {
          load: function (e) {
            cr(Xr(e))
          },
          error: function (e) {
            var t;
            t = Xr(e), (0, E.addClass)(t, "failed"), dr(t)
          }
        },
        Xt = "force" === t.preventScrollOnTouch;
      if (Dt) var Gt, Qt, Kt = t.controlsContainer,
        Jt = t.controlsContainer ? t.controlsContainer.outerHTML : "",
        Ut = t.prevButton,
        Zt = t.nextButton,
        $t = t.prevButton ? t.prevButton.outerHTML : "",
        en = t.nextButton ? t.nextButton.outerHTML : "";
      if (Ht) var tn, nn = t.navContainer,
        rn = t.navContainer ? t.navContainer.outerHTML : "",
        on = _e ? we : eo(),
        an = 0,
        sn = -1,
        ln = Bn(),
        un = ln,
        cn = "tns-nav-active",
        dn = "Carousel Page ",
        fn = " (Current Slide)";
      if (qt) var vn, mn, pn, hn, yn, gn = "forward" === t.autoplayDirection ? 1 : -1,
        bn = t.autoplayButton,
        En = t.autoplayButton ? t.autoplayButton.outerHTML : "",
        Cn = ["<span class='tns-visually-hidden'>", " animation</span>"];
      if (Ft || zt) var xn, wn, Sn = {},
        Mn = {},
        Ln = !1,
        On = he ? function (e, t) {
          return e.x - t.x
        } : function (e, t) {
          return e.y - t.y
        };
      _e || Tn(Mt || At), G && (ut = G, ct = "translate", Q ? (ct += he ? "3d(" : "3d(0px, ", dt = he ? ", 0px, 0px)" : ", 0px)") : (ct += he ? "X(" : "Y(", dt = ")")), ae && (be.className = be.className.replace("tns-vpfix", "")),
        function () {
          if (Hn("gutter"), ye.className = "tns-outer", ge.className = "tns-inner", ye.id = St + "-ow", ge.id = St + "-iw", "" === be.id && (be.id = St), wt += Y || _e ? " tns-subpixel" : " tns-no-subpixel", wt += V ? " tns-calc" : " tns-no-calc", _e && (wt += " tns-autowidth"), wt += " tns-" + t.axis, be.className += wt, ae ? ((me = n.createElement("div")).id = St + "-mw", me.className = "tns-ovh", ye.appendChild(me), me.appendChild(ge)) : ye.appendChild(ge), Ve) {
            var e = me || ge;
            e.className += " tns-ah"
          }
          if (Ee.insertBefore(ye, be), ge.appendChild(be), (0, g.forEach)(xe, function (e, t) {
              (0, E.addClass)(e, "tns-item"), e.id || (e.id = St + "-item" + t), !ae && ve && (0, E.addClass)(e, ve), (0, S.setAttrs)(e, {
                "aria-hidden": "true",
                tabindex: "-1"
              })
            }), ot) {
            for (var r = n.createDocumentFragment(), o = n.createDocumentFragment(), i = ot; i--;) {
              var a = i % we,
                s = xe[a].cloneNode(!0);
              if ((0, M.removeAttrs)(s, "id"), o.insertBefore(s, o.firstChild), ae) {
                var l = xe[we - 1 - a].cloneNode(!0);
                (0, M.removeAttrs)(l, "id"), r.appendChild(l)
              }
            }
            be.insertBefore(r, be.firstChild), be.appendChild(o), xe = be.children
          }
        }(),
        function () {
          if (!ae)
            for (var e = vt, n = vt + Math.min(we, De); e < n; e++) {
              var r = xe[e];
              r.style.left = 100 * (e - vt) / De + "%", (0, E.addClass)(r, ce), (0, C.removeClass)(r, ve)
            }
          if (he && (Y || _e ? ((0, v.addCSSRule)(tt, "#" + St + " > .tns-item", "font-size:" + H.getComputedStyle(xe[0]).fontSize + ";", (0, p.getCssRulesLength)(tt)), (0, v.addCSSRule)(tt, "#" + St, "font-size:0;", (0, p.getCssRulesLength)(tt))) : ae && (0, g.forEach)(xe, function (e, t) {
              e.style.marginLeft = function (e) {
                return V ? V + "(" + 100 * e + "% / " + it + ")" : 100 * e / it + "%"
              }(t)
            })), X) {
            if (K) {
              var o = me && t.autoHeight ? Yn(t.speed) : "";
              (0, v.addCSSRule)(tt, "#" + St + "-mw", o, (0, p.getCssRulesLength)(tt))
            }
            o = qn(t.edgePadding, t.gutter, t.fixedWidth, t.speed, t.autoHeight), (0, v.addCSSRule)(tt, "#" + St + "-iw", o, (0, p.getCssRulesLength)(tt)), ae && (o = he && !_e ? "width:" + Fn(t.fixedWidth, t.gutter, t.items) + ";" : "", K && (o += Yn(Fe)), (0, v.addCSSRule)(tt, "#" + St, o, (0, p.getCssRulesLength)(tt))), o = he && !_e ? zn(t.fixedWidth, t.gutter, t.items) : "", t.gutter && (o += Wn(t.gutter)), ae || (K && (o += Yn(Fe)), U && (o += Xn(Fe))), o && (0, v.addCSSRule)(tt, "#" + St + " > .tns-item", o, (0, p.getCssRulesLength)(tt))
          } else {
            hr(), ge.style.cssText = qn(je, Be, ke, Ve), ae && he && !_e && (be.style.width = Fn(ke, Be, De));
            var o = he && !_e ? zn(ke, Be, De) : "";
            Be && (o += Wn(Be)), o && (0, v.addCSSRule)(tt, "#" + St + " > .tns-item", o, (0, p.getCssRulesLength)(tt))
          }
          if (oe && X)
            for (var i in oe) {
              i = parseInt(i);
              var a = oe[i],
                o = "",
                s = "",
                l = "",
                u = "",
                c = "",
                d = _e ? null : In("items", i),
                f = In("fixedWidth", i),
                m = In("speed", i),
                h = In("edgePadding", i),
                y = In("autoHeight", i),
                b = In("gutter", i);
              K && me && In("autoHeight", i) && "speed" in a && (s = "#" + St + "-mw{" + Yn(m) + "}"), ("edgePadding" in a || "gutter" in a) && (l = "#" + St + "-iw{" + qn(h, b, f, m, y) + "}"), ae && he && !_e && ("fixedWidth" in a || "items" in a || ke && "gutter" in a) && (u = "width:" + Fn(f, b, d) + ";"), K && "speed" in a && (u += Yn(m)), u && (u = "#" + St + "{" + u + "}"), ("fixedWidth" in a || ke && "gutter" in a || !ae && "items" in a) && (c += zn(f, b, d)), "gutter" in a && (c += Wn(b)), !ae && "speed" in a && (K && (c += Yn(m)), U && (c += Xn(m))), c && (c = "#" + St + " > .tns-item{" + c + "}"), (o = s + l + u + c) && tt.insertRule("@media (min-width: " + i / 16 + "em) {" + o + "}", tt.cssRules.length)
            }
        }(), Gn();
      var An = We ? ae ? function () {
          var e = pt,
            t = ht;
          e += He, t -= He, je ? (e += 1, t -= 1) : ke && (Re + Be) % (ke + Be) && (t -= 1), ot && (vt > t ? vt -= we : vt < e && (vt += we))
        } : function () {
          if (vt > ht)
            for (; vt >= pt + we;) vt -= we;
          else if (vt < pt)
            for (; vt <= ht - we;) vt += we
        } : function () {
          vt = Math.max(pt, Math.min(ht, vt))
        },
        Pn = ae ? function () {
          Lr(be, ""), K || !Fe ? (_r(), Fe && (0, P.isVisible)(be) || Rr()) : (0, N.jsTransform)(be, ut, ct, dt, Pr(), Fe, Rr), he || $r()
        } : function () {
          rt = [];
          var e = {};
          e[$] = e[ee] = Rr, (0, B.removeEvents)(xe[mt], e), (0, j.addEvents)(xe[vt], e), kr(mt, ce, de, !0), kr(vt, ve, ce), $ && ee && Fe && (0, P.isVisible)(be) || Rr()
        };
      return {
        version: "2.9.2",
        getInfo: no,
        events: xt,
        goTo: Nr,
        play: function () {
          Je && !mn && (Fr(), hn = !1)
        },
        pause: function () {
          mn && (zr(), hn = !0)
        },
        isOn: Me,
        updateSliderHeight: gr,
        refresh: Gn,
        destroy: function () {
          if (tt.disabled = !0, tt.ownerNode && tt.ownerNode.remove(), (0, B.removeEvents)(H, {
              resize: Zn
            }), qe && (0, B.removeEvents)(n, Bt), Kt && (0, B.removeEvents)(Kt, Tt), nn && (0, B.removeEvents)(nn, _t), (0, B.removeEvents)(be, kt), (0, B.removeEvents)(be, jt), bn && (0, B.removeEvents)(bn, {
              click: Wr
            }), Je && clearInterval(vn), ae && $) {
            var e = {};
            e[$] = Rr, (0, B.removeEvents)(be, e)
          }
          Qe && (0, B.removeEvents)(be, Rt), Ke && (0, B.removeEvents)(be, Nt);
          var r = [Ce, Jt, $t, en, rn, En];
          for (var o in ne.forEach(function (e, n) {
              var o = "container" === e ? ye : t[e];
              if ("object" === D(o)) {
                var i = !!o.previousElementSibling && o.previousElementSibling,
                  a = o.parentNode;
                o.outerHTML = r[n], t[e] = i ? i.nextElementSibling : a.firstElementChild
              }
            }), ne = ce = de = fe = ve = he = ye = ge = be = Ee = Ce = xe = we = pe = Se = _e = ke = je = Be = Re = De = He = Ie = qe = Fe = ze = We = Ve = tt = nt = Le = rt = ot = it = at = st = lt = ut = ct = dt = ft = vt = mt = pt = ht = gt = bt = Et = Ct = xt = wt = St = Mt = Lt = Ot = At = Pt = Tt = _t = kt = jt = Bt = Rt = Nt = Dt = Ht = It = qt = Ft = zt = Wt = Vt = Yt = Oe = Ye = Xe = Kt = Jt = Ut = Zt = Gt = Qt = Ge = nn = rn = tn = on = an = sn = ln = un = cn = dn = fn = Je = Ue = gn = Ze = $e = bn = En = et = Cn = vn = mn = pn = hn = yn = Sn = Mn = xn = Ln = wn = On = Qe = Ke = null, this) "rebuild" !== o && (this[o] = null);
          Me = !1
        },
        rebuild: function () {
          return e((0, i.extend)(t, re))
        }
      }
    }

    function Tn(e) {
      e && (Ye = Ge = Qe = Ke = qe = Je = $e = et = !1)
    }

    function _n() {
      for (var e = ae ? vt - ot : vt; e < 0;) e += we;
      return e % we + 1
    }

    function kn(e) {
      return e = e ? Math.max(0, Math.min(We ? we - 1 : we - De, e)) : 0, ae ? e + ot : e
    }

    function jn(e) {
      for (null == e && (e = vt), ae && (e -= ot); e < 0;) e += we;
      return Math.floor(e % we)
    }

    function Bn() {
      var e, t = jn();
      return e = It ? t : ke || _e ? Math.ceil((t + 1) * on / we - 1) : Math.floor(t / De), !We && ae && vt === ht && (e = on - 1), e
    }

    function Rn() {
      return H.innerWidth || n.documentElement.clientWidth || n.body.clientWidth
    }

    function Nn(e) {
      return "top" === e ? "afterbegin" : "beforeend"
    }

    function Dn() {
      var e = je ? 2 * je - Be : 0;
      return function e(t) {
        var r, o, i = n.createElement("div");
        return t.appendChild(i), o = (r = i.getBoundingClientRect()).right - r.left, i.remove(), o || e(t.parentNode)
      }(Ee) - e
    }

    function Hn(e) {
      if (t[e]) return !0;
      if (oe)
        for (var n in oe)
          if (oe[n][e]) return !0;
      return !1
    }

    function In(e, n) {
      if (null == n && (n = Se), "items" === e && ke) return Math.floor((Re + Be) / (ke + Be)) || 1;
      var r = t[e];
      if (oe)
        for (var o in oe) n >= parseInt(o) && e in oe[o] && (r = oe[o][e]);
      return "slideBy" === e && "page" === r && (r = In("items")), ae || "slideBy" !== e && "items" !== e || (r = Math.floor(r)), r
    }

    function qn(e, t, n, r, o) {
      var i = "";
      if (void 0 !== e) {
        var a = e;
        t && (a -= t), i = he ? "margin: 0 " + a + "px 0 " + e + "px;" : "margin: " + e + "px 0 " + a + "px 0;"
      } else if (t && !n) {
        var s = "-" + t + "px";
        i = "margin: 0 " + (he ? s + " 0 0" : "0 " + s + " 0") + ";"
      }
      return !ae && o && K && r && (i += Yn(r)), i
    }

    function Fn(e, t, n) {
      return e ? (e + t) * it + "px" : V ? V + "(" + 100 * it + "% / " + n + ")" : 100 * it / n + "%"
    }

    function zn(e, t, n) {
      var r;
      if (e) r = e + t + "px";
      else {
        ae || (n = Math.floor(n));
        var o = ae ? it : n;
        r = V ? V + "(100% / " + o + ")" : 100 / o + "%"
      }
      return r = "width:" + r, "inner" !== ie ? r + ";" : r + " !important;"
    }

    function Wn(e) {
      var t = "";
      return !1 !== e && (t = (he ? "padding-" : "margin-") + (he ? "right" : "bottom") + ": " + e + "px;"), t
    }

    function Vn(e, t) {
      var n = e.substring(0, e.length - t).toLowerCase();
      return n && (n = "-" + n + "-"), n
    }

    function Yn(e) {
      return Vn(K, 18) + "transition-duration:" + e / 1e3 + "s;"
    }

    function Xn(e) {
      return Vn(U, 17) + "animation-duration:" + e / 1e3 + "s;"
    }

    function Gn() {
      if (Hn("autoHeight") || _e || !he) {
        var e = be.querySelectorAll("img");
        (0, g.forEach)(e, function (e) {
          var t = e.src;
          t && t.indexOf("data:image") < 0 ? ((0, j.addEvents)(e, Yt), e.src = "", e.src = t, (0, E.addClass)(e, "loading")) : nt || cr(e)
        }), (0, r.raf)(function () {
          mr((0, L.arrayFromNodeList)(e), function () {
            Oe = !0
          })
        }), !_e && he && (e = fr(vt, Math.min(vt + De - 1, it - 1))), nt ? Qn() : (0, r.raf)(function () {
          mr((0, L.arrayFromNodeList)(e), Qn)
        })
      } else ae && Tr(), Jn(), Un()
    }

    function Qn() {
      if (_e) {
        var e = We ? vt : we - 1;
        ! function t() {
          xe[e - 1].getBoundingClientRect().right.toFixed(2) === xe[e].getBoundingClientRect().left.toFixed(2) ? Kn() : setTimeout(function () {
            t()
          }, 16)
        }()
      } else Kn()
    }

    function Kn() {
      he && !_e || (br(), _e ? (st = Ar(), Ot && (At = er()), ht = ft(), Tn(Mt || At)) : $r()), ae && Tr(), Jn(), Un()
    }

    function Jn() {
      if (Er(), ye.insertAdjacentHTML("afterbegin", '<div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide <span class="current">' + sr() + "</span>  of " + we + "</div>"), Ae = ye.querySelector(".tns-liveregion .current"), qt) {
        var e = Je ? "stop" : "start";
        bn ? (0, S.setAttrs)(bn, {
          "data-action": e
        }) : t.autoplayButtonOutput && (ye.insertAdjacentHTML(Nn(t.autoplayPosition), '<button data-action="' + e + '">' + Cn[0] + e + Cn[1] + Ze[0] + "</button>"), bn = ye.querySelector("[data-action]")), bn && (0, j.addEvents)(bn, {
          click: Wr
        }), Je && (Fr(), $e && (0, j.addEvents)(be, kt), et && (0, j.addEvents)(be, jt))
      }
      if (Ht) {
        if (nn)(0, S.setAttrs)(nn, {
          "aria-label": "Carousel Pagination"
        }), tn = nn.children, (0, g.forEach)(tn, function (e, t) {
          (0, S.setAttrs)(e, {
            "data-nav": t,
            tabindex: "-1",
            "aria-label": dn + (t + 1),
            "aria-controls": St
          })
        });
        else {
          for (var n = "", r = It ? "" : 'style="display:none"', o = 0; o < we; o++) n += '<button data-nav="' + o + '" tabindex="-1" aria-controls="' + St + '" ' + r + ' aria-label="' + dn + (o + 1) + '"></button>';
          n = '<div class="tns-nav" aria-label="Carousel Pagination">' + n + "</div>", ye.insertAdjacentHTML(Nn(t.navPosition), n), nn = ye.querySelector(".tns-nav"), tn = nn.children
        }
        if (to(), K) {
          var i = K.substring(0, K.length - 18).toLowerCase(),
            a = "transition: all " + Fe / 1e3 + "s";
          i && (a = "-" + i + "-" + a), (0, v.addCSSRule)(tt, "[aria-controls^=" + St + "-item]", a, (0, p.getCssRulesLength)(tt))
        }(0, S.setAttrs)(tn[ln], {
          "aria-label": dn + (ln + 1) + fn
        }), (0, M.removeAttrs)(tn[ln], "tabindex"), (0, E.addClass)(tn[ln], cn), (0, j.addEvents)(nn, _t)
      }
      Dt && (Kt || Ut && Zt || (ye.insertAdjacentHTML(Nn(t.controlsPosition), '<div class="tns-controls" aria-label="Carousel Navigation" tabindex="0"><button data-controls="prev" tabindex="-1" aria-controls="' + St + '">' + Xe[0] + '</button><button data-controls="next" tabindex="-1" aria-controls="' + St + '">' + Xe[1] + "</button></div>"), Kt = ye.querySelector(".tns-controls")), Ut && Zt || (Ut = Kt.children[0], Zt = Kt.children[1]), t.controlsContainer && (0, S.setAttrs)(Kt, {
        "aria-label": "Carousel Navigation",
        tabindex: "0"
      }), (t.controlsContainer || t.prevButton && t.nextButton) && (0, S.setAttrs)([Ut, Zt], {
        "aria-controls": St,
        tabindex: "-1"
      }), (t.controlsContainer || t.prevButton && t.nextButton) && ((0, S.setAttrs)(Ut, {
        "data-controls": "prev"
      }), (0, S.setAttrs)(Zt, {
        "data-controls": "next"
      })), Gt = xr(Ut), Qt = xr(Zt), Mr(), Kt ? (0, j.addEvents)(Kt, Tt) : ((0, j.addEvents)(Ut, Tt), (0, j.addEvents)(Zt, Tt))), nr()
    }

    function Un() {
      if (ae && $) {
        var e = {};
        e[$] = Rr, (0, j.addEvents)(be, e)
      }
      Qe && (0, j.addEvents)(be, Rt, t.preventScrollOnTouch), Ke && (0, j.addEvents)(be, Nt), qe && (0, j.addEvents)(n, Bt), "inner" === ie ? xt.on("outerResized", function () {
        $n(), xt.emit("innerLoaded", no())
      }) : (oe || ke || _e || Ve || !he) && (0, j.addEvents)(H, {
        resize: Zn
      }), Ve && ("outer" === ie ? xt.on("innerLoaded", vr) : Mt || vr()), ur(), Mt ? ir() : At && or(), xt.on("indexChanged", pr), "inner" === ie && xt.emit("innerLoaded", no()), "function" == typeof Ct && Ct(no()), Me = !0
    }

    function Zn(e) {
      (0, r.raf)(function () {
        $n(Yr(e))
      })
    }

    function $n(e) {
      if (Me) {
        "outer" === ie && xt.emit("outerResized", no(e)), Se = Rn();
        var r, o = pe,
          i = !1;
        oe && (tr(), (r = o !== pe) && xt.emit("newBreakpointStart", no(e)));
        var a, s, l = De,
          u = Mt,
          c = At,
          d = qe,
          f = Ye,
          h = Ge,
          y = Qe,
          b = Ke,
          x = Je,
          w = $e,
          S = et,
          M = vt;
        if (r) {
          var L = ke,
            P = Ve,
            T = Xe,
            _ = Ne,
            k = Ze;
          if (!X) var R = Be,
            N = je
        }
        if (qe = In("arrowKeys"), Ye = In("controls"), Ge = In("nav"), Qe = In("touch"), Ne = In("center"), Ke = In("mouseDrag"), Je = In("autoplay"), $e = In("autoplayHoverPause"), et = In("autoplayResetOnVisibility"), r && (Mt = In("disable"), ke = In("fixedWidth"), Fe = In("speed"), Ve = In("autoHeight"), Xe = In("controlsText"), Ze = In("autoplayText"), Ue = In("autoplayTimeout"), X || (je = In("edgePadding"), Be = In("gutter"))), Tn(Mt), Re = Dn(), he && !_e || Mt || (br(), he || ($r(), i = !0)), (ke || _e) && (st = Ar(), ht = ft()), (r || ke) && (De = In("items"), He = In("slideBy"), (s = De !== l) && (ke || _e || (ht = ft()), An())), r && Mt !== u && (Mt ? ir() : function () {
            if (Lt) {
              if (tt.disabled = !1, be.className += wt, Tr(), We)
                for (var e = ot; e--;) ae && (0, A.showElement)(xe[e]), (0, A.showElement)(xe[it - e - 1]);
              if (!ae)
                for (var t = vt, n = vt + we; t < n; t++) {
                  var r = xe[t],
                    o = t < vt + De ? ce : ve;
                  r.style.left = 100 * (t - vt) / De + "%", (0, E.addClass)(r, o)
                }
              rr(), Lt = !1
            }
          }()), Ot && (r || ke || _e) && (At = er()) !== c && (At ? (_r(Pr(kn(0))), or()) : (function () {
            if (Pt) {
              if (je && X && (ge.style.margin = ""), ot)
                for (var e = "tns-transparent", t = ot; t--;) ae && (0, C.removeClass)(xe[t], e), (0, C.removeClass)(xe[it - t - 1], e);
              rr(), Pt = !1
            }
          }(), i = !0)), Tn(Mt || At), Je || ($e = et = !1), qe !== d && (qe ? (0, j.addEvents)(n, Bt) : (0, B.removeEvents)(n, Bt)), Ye !== f && (Ye ? Kt ? (0, A.showElement)(Kt) : (Ut && (0, A.showElement)(Ut), Zt && (0, A.showElement)(Zt)) : Kt ? (0, O.hideElement)(Kt) : (Ut && (0, O.hideElement)(Ut), Zt && (0, O.hideElement)(Zt))), Ge !== h && (Ge ? (0, A.showElement)(nn) : (0, O.hideElement)(nn)), Qe !== y && (Qe ? (0, j.addEvents)(be, Rt, t.preventScrollOnTouch) : (0, B.removeEvents)(be, Rt)), Ke !== b && (Ke ? (0, j.addEvents)(be, Nt) : (0, B.removeEvents)(be, Nt)), Je !== x && (Je ? (bn && (0, A.showElement)(bn), mn || hn || Fr()) : (bn && (0, O.hideElement)(bn), mn && zr())), $e !== w && ($e ? (0, j.addEvents)(be, kt) : (0, B.removeEvents)(be, kt)), et !== S && (et ? (0, j.addEvents)(n, jt) : (0, B.removeEvents)(n, jt)), r) {
          if (ke === L && Ne === _ || (i = !0), Ve !== P && (Ve || (ge.style.height = "")), Ye && Xe !== T && (Ut.innerHTML = Xe[0], Zt.innerHTML = Xe[1]), bn && Ze !== k) {
            var D = Je ? 1 : 0,
              H = bn.innerHTML,
              I = H.length - k[D].length;
            H.substring(I) === k[D] && (bn.innerHTML = H.substring(0, I) + Ze[D])
          }
        } else Ne && (ke || _e) && (i = !0);
        if ((s || ke && !_e) && (on = eo(), to()), (a = vt !== M) ? (xt.emit("indexChanged", no()), i = !0) : s ? a || pr() : (ke || _e) && (ur(), Er(), ar()), s && !ae && function () {
            for (var e = vt + Math.min(we, De), t = it; t--;) {
              var n = xe[t];
              t >= vt && t < e ? ((0, E.addClass)(n, "tns-moving"), n.style.left = 100 * (t - vt) / De + "%", (0, E.addClass)(n, ce), (0, C.removeClass)(n, ve)) : n.style.left && (n.style.left = "", (0, E.addClass)(n, ve), (0, C.removeClass)(n, ce)), (0, C.removeClass)(n, de)
            }
            setTimeout(function () {
              (0, g.forEach)(xe, function (e) {
                (0, C.removeClass)(e, "tns-moving")
              })
            }, 300)
          }(), !Mt && !At) {
          if (r && !X && (Ve === autoheightTem && Fe === speedTem || hr(), je === N && Be === R || (ge.style.cssText = qn(je, Be, ke, Fe, Ve)), he)) {
            ae && (be.style.width = Fn(ke, Be, De));
            var q = zn(ke, Be, De) + Wn(Be);
            (0, m.removeCSSRule)(tt, (0, p.getCssRulesLength)(tt) - 1), (0, v.addCSSRule)(tt, "#" + St + " > .tns-item", q, (0, p.getCssRulesLength)(tt))
          }
          Ve && vr(), i && (Tr(), mt = vt)
        }
        r && xt.emit("newBreakpointEnd", no(e))
      }
    }

    function er() {
      if (!ke && !_e) return we <= (Ne ? De - (De - 1) / 2 : De);
      var e = ke ? (ke + Be) * we : Le[we],
        t = je ? Re + 2 * je : Re + Be;
      return Ne && (t -= ke ? (Re - ke) / 2 : (Re - (Le[vt + 1] - Le[vt] - Be)) / 2), e <= t
    }

    function tr() {
      for (var e in pe = 0, oe) e = parseInt(e), Se >= e && (pe = e)
    }

    function nr() {
      !Je && bn && (0, O.hideElement)(bn), !Ge && nn && (0, O.hideElement)(nn), Ye || (Kt ? (0, O.hideElement)(Kt) : (Ut && (0, O.hideElement)(Ut), Zt && (0, O.hideElement)(Zt)))
    }

    function rr() {
      Je && bn && (0, A.showElement)(bn), Ge && nn && (0, A.showElement)(nn), Ye && (Kt ? (0, A.showElement)(Kt) : (Ut && (0, A.showElement)(Ut), Zt && (0, A.showElement)(Zt)))
    }

    function or() {
      if (!Pt) {
        if (je && (ge.style.margin = "0px"), ot)
          for (var e = "tns-transparent", t = ot; t--;) ae && (0, E.addClass)(xe[t], e), (0, E.addClass)(xe[it - t - 1], e);
        nr(), Pt = !0
      }
    }

    function ir() {
      if (!Lt) {
        if (tt.disabled = !0, be.className = be.className.replace(wt.substring(1), ""), (0, M.removeAttrs)(be, ["style"]), We)
          for (var e = ot; e--;) ae && (0, O.hideElement)(xe[e]), (0, O.hideElement)(xe[it - e - 1]);
        if (he && ae || (0, M.removeAttrs)(ge, ["style"]), !ae)
          for (var t = vt, n = vt + we; t < n; t++) {
            var r = xe[t];
            (0, M.removeAttrs)(r, ["style"]), (0, C.removeClass)(r, ce), (0, C.removeClass)(r, ve)
          }
        nr(), Lt = !0
      }
    }

    function ar() {
      var e = sr();
      Ae.innerHTML !== e && (Ae.innerHTML = e)
    }

    function sr() {
      var e = lr(),
        t = e[0] + 1,
        n = e[1] + 1;
      return t === n ? t + "" : t + " to " + n
    }

    function lr(e) {
      null == e && (e = Pr());
      var t, n, r, o = vt;
      if (Ne || je ? (_e || ke) && (n = -(parseFloat(e) + je), r = n + Re + 2 * je) : _e && (n = Le[vt], r = n + Re), _e) Le.forEach(function (e, i) {
        i < it && ((Ne || je) && e <= n + .5 && (o = i), r - e >= .5 && (t = i))
      });
      else {
        if (ke) {
          var i = ke + Be;
          Ne || je ? (o = Math.floor(n / i), t = Math.ceil(r / i - 1)) : t = o + Math.ceil(Re / i) - 1
        } else if (Ne || je) {
          var a = De - 1;
          if (Ne ? (o -= a / 2, t = vt + a / 2) : t = vt + a, je) {
            var s = je * De / Re;
            o -= s, t += s
          }
          o = Math.floor(o), t = Math.ceil(t)
        } else t = o + De - 1;
        o = Math.max(o, 0), t = Math.min(t, it - 1)
      }
      return [o, t]
    }

    function ur() {
      nt && !Mt && fr.apply(null, lr()).forEach(function (e) {
        if (!(0, b.hasClass)(e, Vt)) {
          var t = {};
          t[$] = function (e) {
            e.stopPropagation()
          }, (0, j.addEvents)(e, t), (0, j.addEvents)(e, Yt), e.src = (0, w.getAttr)(e, "data-src");
          var n = (0, w.getAttr)(e, "data-srcset");
          n && (e.srcset = n), (0, E.addClass)(e, "loading")
        }
      })
    }

    function cr(e) {
      (0, E.addClass)(e, "loaded"), dr(e)
    }

    function dr(e) {
      (0, E.addClass)(e, "tns-complete"), (0, C.removeClass)(e, "loading"), (0, B.removeEvents)(e, Yt)
    }

    function fr(e, t) {
      for (var n = []; e <= t;)(0, g.forEach)(xe[e].querySelectorAll("img"), function (e) {
        n.push(e)
      }), e++;
      return n
    }

    function vr() {
      var e = fr.apply(null, lr());
      (0, r.raf)(function () {
        mr(e, gr)
      })
    }

    function mr(e, t) {
      return Oe ? t() : (e.forEach(function (t, n) {
        (0, b.hasClass)(t, Vt) && e.splice(n, 1)
      }), e.length ? void(0, r.raf)(function () {
        mr(e, t)
      }) : t())
    }

    function pr() {
      ur(), Er(), ar(), Mr(),
        function () {
          if (Ge && (ln = sn >= 0 ? sn : Bn(), sn = -1, ln !== un)) {
            var e = tn[un],
              t = tn[ln];
            (0, S.setAttrs)(e, {
              tabindex: "-1",
              "aria-label": dn + (un + 1)
            }), (0, C.removeClass)(e, cn), (0, S.setAttrs)(t, {
              "aria-label": dn + (ln + 1) + fn
            }), (0, M.removeAttrs)(t, "tabindex"), (0, E.addClass)(t, cn), un = ln
          }
        }()
    }

    function hr() {
      ae && Ve && (me.style[K] = Fe / 1e3 + "s")
    }

    function yr(e, t) {
      for (var n = [], r = e, o = Math.min(e + t, it); r < o; r++) n.push(xe[r].offsetHeight);
      return Math.max.apply(null, n)
    }

    function gr() {
      var e = Ve ? yr(vt, De) : yr(ot, we),
        t = me || ge;
      t.style.height !== e && (t.style.height = e + "px")
    }

    function br() {
      Le = [0];
      var e = he ? "left" : "top",
        t = he ? "right" : "bottom",
        n = xe[0].getBoundingClientRect()[e];
      (0, g.forEach)(xe, function (r, o) {
        o && Le.push(r.getBoundingClientRect()[e] - n), o === it - 1 && Le.push(r.getBoundingClientRect()[t] - n)
      })
    }

    function Er() {
      var e = lr(),
        t = e[0],
        n = e[1];
      (0, g.forEach)(xe, function (e, r) {
        r >= t && r <= n ? (0, x.hasAttr)(e, "aria-hidden") && ((0, M.removeAttrs)(e, ["aria-hidden", "tabindex"]), (0, E.addClass)(e, Wt)) : (0, x.hasAttr)(e, "aria-hidden") || ((0, S.setAttrs)(e, {
          "aria-hidden": "true",
          tabindex: "-1"
        }), (0, C.removeClass)(e, Wt))
      })
    }

    function Cr(e) {
      return e.nodeName.toLowerCase()
    }

    function xr(e) {
      return "button" === Cr(e)
    }

    function wr(e) {
      return "true" === e.getAttribute("aria-disabled")
    }

    function Sr(e, t, n) {
      e ? t.disabled = n : t.setAttribute("aria-disabled", n.toString())
    }

    function Mr() {
      if (Ye && !ze && !We) {
        var e = Gt ? Ut.disabled : wr(Ut),
          t = Qt ? Zt.disabled : wr(Zt),
          n = vt <= pt,
          r = !ze && vt >= ht;
        n && !e && Sr(Gt, Ut, !0), !n && e && Sr(Gt, Ut, !1), r && !t && Sr(Qt, Zt, !0), !r && t && Sr(Qt, Zt, !1)
      }
    }

    function Lr(e, t) {
      K && (e.style[K] = t)
    }

    function Or(e) {
      return null == e && (e = vt), _e ? (Re - (je ? Be : 0) - (Le[e + 1] - Le[e] - Be)) / 2 : ke ? (Re - ke) / 2 : (De - 1) / 2
    }

    function Ar() {
      var e = Re + (je ? Be : 0) - (ke ? (ke + Be) * it : Le[it]);
      return Ne && !We && (e = ke ? -(ke + Be) * (it - 1) - Or() : Or(it - 1) - Le[it - 1]), e > 0 && (e = 0), e
    }

    function Pr(e) {
      var t;
      if (null == e && (e = vt), he && !_e)
        if (ke) t = -(ke + Be) * e, Ne && (t += Or());
        else {
          var n = G ? it : De;
          Ne && (e -= Or()), t = 100 * -e / n
        }
      else t = -Le[e], Ne && _e && (t += Or());
      return at && (t = Math.max(t, st)), t += !he || _e || ke ? "px" : "%"
    }

    function Tr(e) {
      Lr(be, "0s"), _r(e)
    }

    function _r(e) {
      null == e && (e = Pr()), be.style[ut] = ct + e + dt
    }

    function kr(e, t, n, r) {
      var o = e + De;
      We || (o = Math.min(o, it));
      for (var i = e; i < o; i++) {
        var a = xe[i];
        r || (a.style.left = 100 * (i - vt) / De + "%"), fe && J && (a.style[J] = a.style[Z] = fe * (i - e) / 1e3 + "s"), (0, C.removeClass)(a, t), (0, E.addClass)(a, n), r && rt.push(a)
      }
    }

    function jr(e, t) {
      lt && An(), (vt !== mt || t) && (xt.emit("indexChanged", no()), xt.emit("transitionStart", no()), Ve && vr(), mn && e && ["click", "keydown"].indexOf(e.type) >= 0 && zr(), Et = !0, Pn())
    }

    function Br(e) {
      return e.toLowerCase().replace(/-/g, "")
    }

    function Rr(e) {
      if (ae || Et) {
        if (xt.emit("transitionEnd", no(e)), !ae && rt.length > 0)
          for (var t = 0; t < rt.length; t++) {
            var n = rt[t];
            n.style.left = "", Z && J && (n.style[Z] = "", n.style[J] = ""), (0, C.removeClass)(n, de), (0, E.addClass)(n, ve)
          }
        if (!e || !ae && e.target.parentNode === be || e.target === be && Br(e.propertyName) === Br(ut)) {
          if (!lt) {
            var r = vt;
            An(), vt !== r && (xt.emit("indexChanged", no()), Tr())
          }
          "inner" === ie && xt.emit("innerLoaded", no()), Et = !1, mt = vt
        }
      }
    }

    function Nr(e, t) {
      if (!At)
        if ("prev" === e) Dr(t, -1);
        else if ("next" === e) Dr(t, 1);
      else {
        if (Et) {
          if (yt) return;
          Rr()
        }
        var n = jn(),
          r = 0;
        if ("first" === e ? r = -n : "last" === e ? r = ae ? we - De - n : we - 1 - n : ("number" != typeof e && (e = parseInt(e)), isNaN(e) || (t || (e = Math.max(0, Math.min(we - 1, e))), r = e - n)), !ae && r && Math.abs(r) < De) {
          var o = r > 0 ? 1 : -1;
          r += vt + r - we >= pt ? we * o : 2 * we * o * -1
        }
        vt += r, ae && We && (vt < pt && (vt += we), vt > ht && (vt -= we)), jn(vt) !== jn(mt) && jr(t)
      }
    }

    function Dr(e, t) {
      if (Et) {
        if (yt) return;
        Rr()
      }
      var n;
      if (!t) {
        for (var r = Xr(e = Yr(e)); r !== Kt && [Ut, Zt].indexOf(r) < 0;) r = r.parentNode;
        var o = [Ut, Zt].indexOf(r);
        o >= 0 && (n = !0, t = 0 === o ? -1 : 1)
      }
      if (ze) {
        if (vt === pt && -1 === t) return void Nr("last", e);
        if (vt === ht && 1 === t) return void Nr("first", e)
      }
      t && (vt += He * t, _e && (vt = Math.floor(vt)), jr(n || e && "keydown" === e.type ? e : null))
    }

    function Hr() {
      vn = setInterval(function () {
        Dr(null, gn)
      }, Ue), mn = !0
    }

    function Ir() {
      clearInterval(vn), mn = !1
    }

    function qr(e, t) {
      (0, S.setAttrs)(bn, {
        "data-action": e
      }), bn.innerHTML = Cn[0] + e + Cn[1] + t
    }

    function Fr() {
      Hr(), bn && qr("stop", Ze[1])
    }

    function zr() {
      Ir(), bn && qr("start", Ze[0])
    }

    function Wr() {
      mn ? (zr(), hn = !0) : (Fr(), hn = !1)
    }

    function Vr(e) {
      e.focus()
    }

    function Yr(e) {
      return Gr(e = e || H.event) ? e.changedTouches[0] : e
    }

    function Xr(e) {
      return e.target || H.event.srcElement
    }

    function Gr(e) {
      return e.type.indexOf("touch") >= 0
    }

    function Qr(e) {
      e.preventDefault ? e.preventDefault() : e.returnValue = !1
    }

    function Kr() {
      return (0, y.getTouchDirection)((0, h.toDegree)(Mn.y - Sn.y, Mn.x - Sn.x), gt) === t.axis
    }

    function Jr(e) {
      if (Et) {
        if (yt) return;
        Rr()
      }
      Je && mn && Ir(), Ln = !0, wn && ((0, o.caf)(wn), wn = null);
      var t = Yr(e);
      xt.emit(Gr(e) ? "touchStart" : "dragStart", no(e)), !Gr(e) && ["img", "a"].indexOf(Cr(Xr(e))) >= 0 && Qr(e), Mn.x = Sn.x = t.clientX, Mn.y = Sn.y = t.clientY, ae && (xn = parseFloat(be.style[ut].replace(ct, "")), Lr(be, "0s"))
    }

    function Ur(e) {
      if (Ln) {
        var t = Yr(e);
        Mn.x = t.clientX, Mn.y = t.clientY, ae ? wn || (wn = (0, r.raf)(function () {
          ! function e(t) {
            if (bt) {
              if ((0, o.caf)(wn), Ln && (wn = (0, r.raf)(function () {
                  e(t)
                })), "?" === bt && (bt = Kr()), bt) {
                !Xt && Gr(t) && (Xt = !0);
                try {
                  t.type && xt.emit(Gr(t) ? "touchMove" : "dragMove", no(t))
                } catch (e) {}
                var n = xn,
                  i = On(Mn, Sn);
                if (!he || ke || _e) n += i, n += "px";
                else {
                  var a = G ? i * De * 100 / ((Re + Be) * it) : 100 * i / (Re + Be);
                  n += a, n += "%"
                }
                be.style[ut] = ct + n + dt
              }
            } else Ln = !1
          }(e)
        })) : ("?" === bt && (bt = Kr()), bt && (Xt = !0)), Xt && e.preventDefault()
      }
    }

    function Zr(e) {
      if (Ln) {
        wn && ((0, o.caf)(wn), wn = null), ae && Lr(be, ""), Ln = !1;
        var n = Yr(e);
        Mn.x = n.clientX, Mn.y = n.clientY;
        var i = On(Mn, Sn);
        if (Math.abs(i)) {
          if (!Gr(e)) {
            var a = Xr(e);
            (0, j.addEvents)(a, {
              click: function e(t) {
                Qr(t), (0, B.removeEvents)(a, {
                  click: e
                })
              }
            })
          }
          ae ? wn = (0, r.raf)(function () {
            if (he && !_e) {
              var t = -i * De / (Re + Be);
              t = i > 0 ? Math.floor(t) : Math.ceil(t), vt += t
            } else {
              var n = -(xn + i);
              if (n <= 0) vt = pt;
              else if (n >= Le[it - 1]) vt = ht;
              else
                for (var r = 0; r < it && n >= Le[r];) vt = r, n > Le[r] && i < 0 && (vt += 1), r++
            }
            jr(e, i), xt.emit(Gr(e) ? "touchEnd" : "dragEnd", no(e))
          }) : bt && Dr(e, i > 0 ? -1 : 1)
        }
      }
      "auto" === t.preventScrollOnTouch && (Xt = !1), gt && (bt = "?"), Je && !mn && Hr()
    }

    function $r() {
      (me || ge).style.height = Le[vt + De] - Le[vt] + "px"
    }

    function eo() {
      var e = ke ? (ke + Be) * we / Re : we / De;
      return Math.min(Math.ceil(e), we)
    }

    function to() {
      if (Ge && !It && on !== an) {
        var e = an,
          t = on,
          n = A.showElement;
        for (an > on && (e = on, t = an, n = O.hideElement); e < t;) n(tn[e]), e++;
        an = on
      }
    }

    function no(e) {
      return {
        container: be,
        slideItems: xe,
        navContainer: nn,
        navItems: tn,
        controlsContainer: Kt,
        hasControls: Dt,
        prevButton: Ut,
        nextButton: Zt,
        items: De,
        slideBy: He,
        cloneCount: ot,
        slideCount: we,
        slideCountNew: it,
        index: vt,
        indexCached: mt,
        displayIndex: _n(),
        navCurrentIndex: ln,
        navCurrentIndexCached: un,
        pages: on,
        pagesCached: an,
        sheet: tt,
        isOn: Me,
        event: e || {}
      }
    }
    te && console.warn("No slides found in", t.container)
  }
}, function (e, t, n) {
  "use strict";
  Object.keys || (Object.keys = function (e) {
    var t = [];
    for (var n in e) Object.prototype.hasOwnProperty.call(e, n) && t.push(n);
    return t
  })
}, function (e, t, n) {
  "use strict";
  "remove" in Element.prototype || (Element.prototype.remove = function () {
    this.parentNode && this.parentNode.removeChild(this)
  })
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.caf = void 0;
  var r = window,
    o = r.cancelAnimationFrame || r.mozCancelAnimationFrame || function (e) {
      clearTimeout(e)
    };
  t.caf = o
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.extend = function () {
    for (var e, t, n, r = arguments[0] || {}, o = 1, i = arguments.length; o < i; o++)
      if (null !== (e = arguments[o]))
        for (t in e) n = e[t], r !== n && void 0 !== n && (r[t] = n);
    return r
  }
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.checkStorageValue = function (e) {
    return ["true", "false"].indexOf(e) >= 0 ? JSON.parse(e) : e
  }
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.setLocalStorage = function (e, t, n, r) {
    if (r) try {
      e.setItem(t, n)
    } catch (e) {}
    return n
  }
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.getSlideId = function () {
    var e = window.tnsId;
    return window.tnsId = e ? e + 1 : 1, "tns" + window.tnsId
  }
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.calc = function () {
    var e = document,
      t = (0, r.getBody)(),
      n = (0, o.setFakeBody)(t),
      a = e.createElement("div"),
      s = !1;
    t.appendChild(a);
    try {
      for (var l, u = "(10px * 10)", c = ["calc" + u, "-moz-calc" + u, "-webkit-calc" + u], d = 0; d < 3; d++)
        if (l = c[d], a.style.width = l, 100 === a.offsetWidth) {
          s = l.replace(u, "");
          break
        }
    } catch (e) {}
    return t.fake ? (0, i.resetFakeBody)(t, n) : a.remove(), s
  };
  var r = n(0),
    o = n(1),
    i = n(2)
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.percentageLayout = function () {
    var e = document,
      t = (0, r.getBody)(),
      n = (0, o.setFakeBody)(t),
      a = e.createElement("div"),
      s = e.createElement("div"),
      l = "",
      u = !1;
    a.className = "tns-t-subp2", s.className = "tns-t-ct";
    for (var c = 0; c < 70; c++) l += "<div></div>";
    return s.innerHTML = l, a.appendChild(s), t.appendChild(a), u = Math.abs(a.getBoundingClientRect().left - s.children[67].getBoundingClientRect().left) < 2, t.fake ? (0, i.resetFakeBody)(t, n) : a.remove(), u
  };
  var r = n(0),
    o = n(1),
    i = n(2)
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.mediaquerySupport = function () {
    var e, t = document,
      n = (0, r.getBody)(),
      a = (0, o.setFakeBody)(n),
      s = t.createElement("div"),
      l = t.createElement("style"),
      u = "@media all and (min-width:1px){.tns-mq-test{position:absolute}}";
    l.type = "text/css", s.className = "tns-mq-test", n.appendChild(l), n.appendChild(s), l.styleSheet ? l.styleSheet.cssText = u : l.appendChild(t.createTextNode(u));
    return e = window.getComputedStyle ? window.getComputedStyle(s).position : s.currentStyle.position, n.fake ? (0, i.resetFakeBody)(n, a) : s.remove(), "absolute" === e
  };
  var r = n(0),
    o = n(1),
    i = n(2)
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.createStyleSheet = function (e) {
    var t = document.createElement("style");
    e && t.setAttribute("media", e);
    return document.querySelector("head").appendChild(t), t.sheet ? t.sheet : t.styleSheet
  }
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.addCSSRule = function (e, t, n, r) {
    "insertRule" in e ? e.insertRule(t + "{" + n + "}", r) : e.addRule(t, n, r)
  };
  n(3)
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.removeCSSRule = function (e, t) {
    "deleteRule" in e ? e.deleteRule(t) : e.removeRule(t)
  };
  n(3)
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.getCssRulesLength = function (e) {
    return ("insertRule" in e ? e.cssRules : e.rules).length
  }
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.toDegree = function (e, t) {
    return Math.atan2(e, t) * (180 / Math.PI)
  }
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.getTouchDirection = function (e, t) {
    var n = !1,
      r = Math.abs(90 - Math.abs(e));
    r >= 90 - t ? n = "horizontal" : r <= t && (n = "vertical");
    return n
  }
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.forEach = function (e, t, n) {
    for (var r = 0, o = e.length; r < o; r++) t.call(n, e[r], r)
  }
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.classListSupport = void 0;
  var r = "classList" in document.createElement("_");
  t.classListSupport = r
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.addClass = void 0;
  var r = n(4),
    o = r.classListSupport ? function (e, t) {
      (0, r.hasClass)(e, t) || e.classList.add(t)
    } : function (e, t) {
      (0, r.hasClass)(e, t) || (e.className += " " + t)
    };
  t.addClass = o
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.removeClass = void 0;
  var r = n(4),
    o = r.classListSupport ? function (e, t) {
      (0, r.hasClass)(e, t) && e.classList.remove(t)
    } : function (e, t) {
      (0, r.hasClass)(e, t) && (e.className = e.className.replace(t, ""))
    };
  t.removeClass = o
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.hasAttr = function (e, t) {
    return e.hasAttribute(t)
  }
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.getAttr = function (e, t) {
    return e.getAttribute(t)
  }
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.setAttrs = function (e, t) {
    if (e = (0, r.isNodeList)(e) || e instanceof Array ? e : [e], "[object Object]" !== Object.prototype.toString.call(t)) return;
    for (var n = e.length; n--;)
      for (var o in t) e[n].setAttribute(o, t[o])
  };
  var r = n(6)
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.removeAttrs = function (e, t) {
    e = (0, r.isNodeList)(e) || e instanceof Array ? e : [e];
    for (var n = (t = t instanceof Array ? t : [t]).length, o = e.length; o--;)
      for (var i = n; i--;) e[o].removeAttribute(t[i])
  };
  var r = n(6)
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.arrayFromNodeList = function (e) {
    for (var t = [], n = 0, r = e.length; n < r; n++) t.push(e[n]);
    return t
  }
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.hideElement = function (e, t) {
    "none" !== e.style.display && (e.style.display = "none")
  }
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.showElement = function (e, t) {
    "none" === e.style.display && (e.style.display = "")
  }
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.isVisible = function (e) {
    return "none" !== window.getComputedStyle(e).display
  }
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.whichProperty = function (e) {
    if ("string" == typeof e) {
      var t = [e],
        n = e.charAt(0).toUpperCase() + e.substr(1);
      ["Webkit", "Moz", "ms", "O"].forEach(function (r) {
        "ms" === r && "transform" !== e || t.push(r + n)
      }), e = t
    }
    for (var r = document.createElement("fakeelement"), o = (e.length, 0); o < e.length; o++) {
      var i = e[o];
      if (void 0 !== r.style[i]) return i
    }
    return !1
  }
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.has3DTransforms = function (e) {
    if (!e) return !1;
    if (!window.getComputedStyle) return !1;
    var t, n = document,
      a = (0, r.getBody)(),
      s = (0, o.setFakeBody)(a),
      l = n.createElement("p"),
      u = e.length > 9 ? "-" + e.slice(0, -9).toLowerCase() + "-" : "";
    return u += "transform", a.insertBefore(l, null), l.style[e] = "translate3d(1px,1px,1px)", t = window.getComputedStyle(l).getPropertyValue(u), a.fake ? (0, i.resetFakeBody)(a, s) : l.remove(), void 0 !== t && t.length > 0 && "none" !== t
  };
  var r = n(0),
    o = n(1),
    i = n(2)
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.getEndProperty = function (e, t) {
    var n = !1;
    /^Webkit/.test(e) ? n = "webkit" + t + "End" : /^O/.test(e) ? n = "o" + t + "End" : e && (n = t.toLowerCase() + "end");
    return n
  }
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.addEvents = function (e, t, n) {
    for (var o in t) {
      var i = ["touchstart", "touchmove"].indexOf(o) >= 0 && !n && r.passiveOption;
      e.addEventListener(o, t[o], i)
    }
  };
  var r = n(7)
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.removeEvents = function (e, t) {
    for (var n in t) {
      var o = ["touchstart", "touchmove"].indexOf(n) >= 0 && r.passiveOption;
      e.removeEventListener(n, t[n], o)
    }
  };
  var r = n(7)
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.Events = function () {
    return {
      topics: {},
      on: function (e, t) {
        this.topics[e] = this.topics[e] || [], this.topics[e].push(t)
      },
      off: function (e, t) {
        if (this.topics[e])
          for (var n = 0; n < this.topics[e].length; n++)
            if (this.topics[e][n] === t) {
              this.topics[e].splice(n, 1);
              break
            }
      },
      emit: function (e, t) {
        t.type = e, this.topics[e] && this.topics[e].forEach(function (n) {
          n(t, e)
        })
      }
    }
  }
}, function (e, t, n) {
  "use strict";
  Object.defineProperty(t, "__esModule", {
    value: !0
  }), t.jsTransform = function (e, t, n, r, o, i, a) {
    var s = Math.min(i, 10),
      l = o.indexOf("%") >= 0 ? "%" : "px",
      o = o.replace(l, ""),
      u = Number(e.style[t].replace(n, "").replace(r, "").replace(l, "")),
      c = (o - u) / i * s;
    setTimeout(function o() {
      i -= s;
      u += c;
      e.style[t] = n + u + l + r;
      i > 0 ? setTimeout(o, s) : a()
    }, s)
  }
}, function (e, t, n) {
  "use strict";
  var r, o = document.getElementsByClassName("question");
  for (r = 0; r < o.length; r++) o[r].addEventListener("click", function () {
    this.classList.toggle("active");
    var e = this.nextElementSibling;
    e.style.maxHeight ? e.style.maxHeight = null : e.style.maxHeight = e.scrollHeight + "px"
  })
}, function (e, t, n) {
  "use strict";

  function r(e, t) {
    for (var n = 0; n < t.length; n++) {
      var r = t[n];
      r.enumerable = r.enumerable || !1, r.configurable = !0, "value" in r && (r.writable = !0), Object.defineProperty(e, r.key, r)
    }
  }
  var o = document.querySelector(".product-archive"),
    i = document.querySelectorAll(".product-nav .button");
  new(function () {
    function e() {
      var t = this;
      if (function (e, t) {
          if (!(e instanceof t)) throw new TypeError("Cannot call a class as a function")
        }(this, e), null !== o) {
        document.addEventListener("DOMContentLoaded", function () {
          document.querySelector(".button.active").click()
        });
        i.forEach(function (e) {
          return e.addEventListener("click", t.filterProducts)
        })
      }
    }
    var t, n, a;
    return t = e, (n = [{
      key: "filterProducts",
      value: function (e) {
        e.preventDefault();
        for (var t = this.getAttribute("data-ref"), n = document.querySelectorAll(".product-archive-heading"), r = document.querySelectorAll(".product-thumb"), o = 0; o < i.length; o++) i[o].classList.contains("active") && i[o].classList.remove("active");
        this.classList.add("active");
        for (var a = 0; a < n.length; a++) n[a].classList.contains("cat-" + t) ? n[a].classList.remove("hidden") : n[a].classList.add("hidden");
        for (var s = 0; s < r.length; s++) r[s].dataset.category === t ? r[s].classList.remove("hidden") : r[s].classList.add("hidden")
      }
    }]) && r(t.prototype, n), a && r(t, a), e
  }())
}, function (e, t, n) {
  "use strict";
  if (!1 == "objectFit" in document.documentElement.style)
    for (var r = document.querySelectorAll(".single-recipe-thumb .image"), o = 0; 0 < r.length; o++) {
      var i = r[o],
        a = i.querySelector("img").src;
      a && (i.style.backgroundImage = "url(".concat(a, ")"), i.querySelector("img").style.display = "none", i.style.backgroundSize = "cover", i.style.backgroundPosition = "center center")
    }
}, function (e, t, n) {
  "use strict";

  function r(e) {
    return (r = "function" == typeof Symbol && "symbol" == typeof Symbol.iterator ? function (e) {
      return typeof e
    } : function (e) {
      return e && "function" == typeof Symbol && e.constructor === Symbol && e !== Symbol.prototype ? "symbol" : typeof e
    })(e)
  }
  for (var o = window.Cookiebot, i = document.getElementsByClassName("js-cookiebot-renew"), a = 0; a < i.length; a++) i[a].addEventListener("click", s);

  function s(e) {
    e.preventDefault(), "object" === r(o) && o.renew()
  }
}, function (e, t) {}]);
  </script>

<section class="h-[600px]"><div></div></section>

<style>
  html {
    height: 100vh;
    overflow: hidden;

    body {
      width: 100vw;
      height: 100vh;
      margin: 0;
      overflow-y: auto;
      overflow-x: hidden;
      perspective: 1px;
      transform-style: preserve-3d;

      .hero-section {
        display: flex;
        justify-content: center;
        align-items: center;

        .bg {
          width: 100%;
          height: 100%;
          position: absolute;
          background: linear-gradient(180deg, #3392C9 -8.06%, #13699C 55.18%, #083F5F 75.87%, #18638F 83.03%, #3593CA 100.13%, #4EACE2 103.87%);
          z-index: -1;
          transform: translateZ(-1px) scale(1.2);
          filter: blur(10px);
        }
      }
    }
  }
</style>



{% schema %}
  {
    "name": "Curaslim Hero Section",
    "settings": [],
    "presets": [
      {
        "category": "Page",
        "name": "Curaslim Hero Section"
      }
    ]
  }
{% endschema %}
