<section class="hero-section">
  <div class="container text-center">
    <div class="top-bar flex justify-between">
      <div class="left flex items-center">
        <img src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/curalife-logo-white.png?v=1678034399" alt="Curaslim 2024 Logo">
        <div class="reviews flex items-center">
          <div class="stars pb-4 text-center">{% for star in (1..5) %}<i class="fa-sharp fa-solid fa-star text-[--orange] mr-1"></i>{% endfor %}</div>
          <div class="text-sm">45,852 verified<br>reviews</div>
        </div>
      </div>
      <div class="right">
        <Button src="#">Buy Now</Button>
      </div>
    </div>

    <h1><strong>Lose Weight Fast</strong> <span class="italic"><span class="text-[--orange]">With Curaslim's</span><br>powerful Triple - Action Formula!</span></h1>
    <Button src="#">Buy Now</Button>

    <div class="images">
      <img src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_1597877448.png?v=1723474133" alt="Curaslim 2024 Hero Image 1">
      <img src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_1597877668.png?v=1723474133" alt="Curaslim 2024 Hero Image 1">
      <img src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_1597877740.png?v=1723474133" alt="Curaslim 2024 Hero Image 1">
      <img src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_1597877453.png?v=1723474133" alt="Curaslim 2024 Hero Image 2">
    </div>
  </div>
</section>

<style>
  .hero-section {
    background: linear-gradient(180deg, #3392C9 -8.06%, #13699C 55.18%, #083F5F 75.87%, #18638F 83.03%, #3593CA 100.13%, #4EACE2 103.87%);
    color: white;
  }
</style>

{% schema %}
  {
    "name": "Curaslim Hero Section",
    "settings": [],
    "presets": [
      {
        "category": "Page",
        "name": "Curaslim Hero Section"
      }
    ]
  }
{% endschema %}
