<section>
  <div class="container">
    <div class="h2">Your current weight is <span id="wgt"></span></div>


    <div class="goals-wrapper">
      <h5>Your Goals:</h5>
      <div class="goals">

      </div>
    </div>

    <p><b>That's an within-reach goal,</b><br>and with us by your side, you can achieve it without exhausting routines.</p>

    <div class="h2">You can reach at list<br><span id="can"></span><br>in 3 months with Curaslim</div>

  </div>
</section>

<script>
  function insertUrlParamsToHtml() {
      console.log("Starting to process URL parameters...");
      const urlParams = new URLSearchParams(window.location.search);
      let canValue = null;

      urlParams.forEach((value, key) => {
          console.log(`Processing parameter: ${key} with value: ${value}`);
          if (key === 'can') {
              canValue = value;
          } else {
              const element = document.getElementById(key);
              if (element) {
                  console.log(`Found element with ID: ${key}. Setting text content to: ${value}`);
                  element.textContent = value;
              } else {
                  console.warn(`No element found with ID: ${key}`);
              }
          }
      });

      // Process the 'can' parameter separately
      if (canValue !== null) {
          const element = document.getElementById('can');
          if (element) {
              const processedValue = parseFloat(canValue) * 0.0750;
              console.log(`Original value of 'can': ${canValue}, Processed value: ${processedValue}`);
              element.textContent = processedValue.toFixed(2); // Adjust to 2 decimal places
          } else {
              console.warn(`No element found with ID: can`);
          }
      }

      console.log("Finished processing URL parameters.");
  }

  // Immediately run the function
  insertUrlParamsToHtml();
</script>

{% schema %}
  {
    "name": "Quiz Results",
    "class": "quiz-results-section",
    "settings": [

    ],
    "presets": [
      {
        "name": "Quiz Results"
      }
    ]
  }
{% endschema %}