<div class="wrapper">
  <section class="hero-section p-4">
    <div class="bg"></div>
    <div class="container text-center py-[50px]">
      <div class="top-bar flex justify-between items">
        <div class="left flex items-center">
          <img src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/curalife-logo-white.png?v=1678034399" alt="Curaslim 2024 Logo">
          <div class="reviews flex items-center">
            <div class="stars">{% for star in (1..5) %}<i class="fa-sharp fa-solid fa-star text-[--orange] mr-1 font-thin"></i>{% endfor %}</div>
            <div class="text-sm">45,852 verified<br>reviews</div>
          </div>
        </div>
        <div class="right">
          <Button class="bg-white text-black" src="#">Buy Now</Button>
        </div>
      </div>

      <h1 class="text-white"><strong>Lose Weight Fast</strong> <span class="italic"><span class="text-[--orange]">With Curaslim's</span><br>powerful Triple - Action Formula!</span></h1>
      <Button class="bg-[--orange] text-black" src="#">Buy Now</Button>

      <div class="images">
        <img src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_1597877448.png?v=1723474133" alt="Curaslim 2024 Hero Image 1">
        <img src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_1597877668.png?v=1723474133" alt="Curaslim 2024 Hero Image 1">
        <img src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_1597877740.png?v=1723474133" alt="Curaslim 2024 Hero Image 1">
        <img src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/Group_1597877453.png?v=1723474133" alt="Curaslim 2024 Hero Image 2">
      </div>
    </div>
  </section>
</div>

<style>
  .wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;

    .hero-section {
      background: linear-gradient(180deg, #3392C9 -8.06%, #13699C 55.18%, #083F5F 75.87%, #18638F 83.03%, #3593CA 100.13%, #4EACE2 103.87%);
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      transform-style: preserve-3d;
      z-index: -1;

      .bg {
        width: 100%;
        background: linear-gradient(180deg, #3392C9 -8.06%, #13699C 55.18%, #083F5F 75.87%, #18638F 83.03%, #3593CA 100.13%, #4EACE2 103.87%);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transform: translateZ(-20px) scale(4);
      }

      .images {
        postition: relative;

        img {
          position: absolute;

          &:nth-child(1) {
            transform: translateZ(-10px) scale(2);
          }

          &:nth-child(2) {
            transform: translateZ(-5px) scale(1.5);
          }
        }
      }
    }
  }
</style>

{% schema %}
  {
    "name": "Curaslim Hero Section",
    "settings": [],
    "presets": [
      {
        "category": "Page",
        "name": "Curaslim Hero Section"
      }
    ]
  }
{% endschema %}
