<section>
  <div class="container">
    <div class="capsule-animation flex items-center justify-center mt-8">
      <div class="pill relative flex justify-center">
        <img class="pill-half left m-0" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/pill-half.png?v=1723722706" alt="Capsule Animation Pill Half">
        <img class="pill-half right m-0 scale-x-[-1]" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/pill-half.png?v=1723722706" alt="Capsule Animation Pill Half">
      </div>
    </div>
  </div>
</section>

<style>
  /* Define scroll-timeline */
  @scroll-timeline scrollAnimation {
    scroll-source: auto;
    time-range: 1s;
    scroll-offsets: 0% 100%;
  }

  .capsule-animation {
    scroll-timeline: scrollAnimation; /* Attach scroll-timeline */
  }

  .pill-half.left {
    animation: openPillLeft 1s linear;
    animation-timeline: scrollAnimation;
  }

  .pill-half.right {
    animation: openPillRight 1s linear;
    animation-timeline: scrollAnimation;
  }

  @keyframes openPillLeft {
    from { transform: rotate(0deg); }
    to { transform: rotate(180deg); }
  }

  @keyframes openPillRight {
    from { transform: rotate(0deg); }
    to { transform: rotate(-180deg); }
  }
</style>

{% schema %}
  {
    "name": "Capsule Animation",
    "settings": [],
    "presets": [
      {
        "category": "Page",
        "name": "Capsule Animation"
      }
    ]
  }
{% endschema %}
