<section class="hero-section">
  <div class="container">
    <h1><strong>Lose Weight Fast</strong> <span>With Curaslim's</span><br>powerful Triple - Action Formula!</h1>
    <Button src="#">Buy Now</Button>
  </div>
</section>

<style>
  .hero-section {
    background: linear-gradient(180deg, #3392C9 -8.06%, #13699C 55.18%, #083F5F 75.87%, #18638F 83.03%, #3593CA 100.13%, #4EACE2 103.87%);
  }
</style>

{% schema %}
  {
    "name": "Hero Section",
    "settings": [],
    "presets": [
      {
        "category": "Page",
        "name": "Hero Section"
      }
    ]
  }
{% endschema %}
