<div class="form-page">
  <div class="container">
    <div class="contact-form">
      {% form 'contact' %}
        {{ form.errors | default_errors }}
        <input type="hidden" name="return_to" value="/pages/thank-you?type=contact-us">
        {% assign column1 = section.blocks | where: 'type', 'column1' %}
        {% for block in column1 %}
        <div class="form-fields">
            <label for="first-name" class="full-size">
              <input  id="first-name" maxlength="80" name="contact[first_name]" size="20" type="text" placeholder="First Name" />
            </label>
        </div>
        {% endfor %}
        <div class="submit-form">
          <button type="submit"  value="{{ 'contact.form.send' | t }}" class="main-btn">Submit</button>
        </div>
      {% endform %}

    </div>
  </div>
</div>

{% schema %}
  {
  "name": "Form Fields",
  "class":"contact-us",
  "settings": [
  
  ],
  "blocks": [

    {
      "type": "column1",
      "name": "Column 1",
      "settings": [
        {
        "type": "text",
        "id": "label_id",
        "label": "Label"
        
        },
        {
        "type": "text",
        "id": "id_id",
        "label": "Id"   
        },
        {
        "type": "text",
        "id": "id_name",
        "label": "Name"   
        },
        {
        "type": "text",
        "id": "placeh",
        "label": "Placeholder"   
        }
      ]
      }
     
  ],
  "presets":[
    {
    "name": "Form Fields",
    "category": "Contact"
    }
  ]
  }
{% endschema %}



