<div class="form-page">
  <div class="container">
    <div class="contact-form">
      {% form 'contact' %}
        {{ form.errors | default_errors }}
        <input type="hidden" name="return_to" value="/pages/thank-you?type=contact-us"> 
        <div class="form-fields">
            <label for="first-name" class="full-size">
                <input  id="first-name" maxlength="80" name="contact[first_name]" size="20" type="text" placeholder="First Name" />
              </label>

            <label for="last-name" class="full-size">
              <input  id="last-name" maxlength="80" name="contact[last_name]" size="20" type="text" placeholder="Last Name" />
            </label>

            <label for="job-title" class="full-size">
              <input  id="job-title" maxlength="80" name="contact[job-title]" size="20" type="text" placeholder="Job Title" />
            </label>

            <label for="phone" class="full-size">
              <input  id="phone" maxlength="40" name="contact[phone]" size="20" type="tel" placeholder="Phone Number" />
            </label>           
        </div>
        <div class="form-fields2">
            <label for="email" class="full-size">
              <input  id="email" maxlength="80" name="contact[email]" size="20" type="text" placeholder="Business Email" />
            </label>
            <label for="email" class="full-size">
              <input  id="website" maxlength="80" name="contact[website]" size="20" type="text" placeholder="Company Website" />
            </label>
            <label for="emp_number" class="full-size">
              <input   id="emp_number" maxlength="80" name="contact[emp_number]" size="20" type="text" placeholder="Number of Employees" />
            </label>
            <label for="country" class="full-size">
              <input   id="country" maxlength="80" name="contact[country]" size="20" type="text" placeholder="Country" />
            </label>
        </div>
      
        <div class="submit-form">
          <button type="submit"  value="{{ 'contact.form.send' | t }}" class="main-btn">Submit</button>
        </div>
      {% endform %}

    </div>
  </div>
</div>

{% schema %}
  {
  "name": "Form Fields",
  "class":"contact-us",
  "settings": [
  
  ],
  "blocks": [

  ],
  "presets":[
    {
    "name": "Form Fields",
    "category": "Contact"
    }
  ]
  }
{% endschema %}



