
  <div class="suppliments">
     <div class="container" >
        <div class="suppliment-tech-wrapper">
      <div class="button-container">
          <button id="button1" class="active" onclick="showScreen('screen1')">Supplement</button>
          <button id="button2" onclick="showScreen('screen2')">Tech</button>
      </div>

      <div id="screen1" class="screen">
          <h1>Supplement</h1>
      </div>

      <div id="screen2" class="screen" style="display:none">
          <h1>Tech</h1>
      </div>
      </div>
     </div>
  </div>


<style>
    .container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    }
    .suppliment-tech-wrapper {
        margin: 50px auto;
        background: #FFFFFF;
        border: 1px solid #E8E8B0;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
    }

    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }

    .button-container button {
        padding: 10px;
        margin: 0 10px;
        background-color: #ddd;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .button-container button.active {
        background-color: #aaa;
        color: #fff;
    }

    @media screen and ( max-width: 768px ) {
        .suppliment-tech-wrapper {
            margin: 2vw 0;
            box-shadow: unset;
            border-radius: 10px;
        }
    }


</style>
  

{% schema %}
{
    "name": "Suppliments",
    "tag": "section",
    "class": "suppliments",
    "disabled_on": {
        "groups": [
            "header",
            "footer"
        ]
    },
   
     "blocks": [
        {
          "type": "slides",
          "name": "Slides",
          "settings": [
              {
                  "type": "image_picker",
                  "id": "image",
                  "label": "Image"
              },
              {
                  "type": "text",
                  "id": "title",
                  "label": "Title"
              },

              {
                  "type": "richtext",
                  "id": "content",
                  "label": "Content"
              }

          ]
        }
      ],
    "presets": [{
        "name": "Suppliments"
    }]
}
{% endschema %}


<script>
   function showScreen(screenId) {
       var screens = document.getElementsByClassName("screen");
       for (var i = 0; i < screens.length; i++) {
           screens[i].style.display = "none";
       }
       document.getElementById(screenId).style.display = "flex";

       var buttons = document.getElementsByTagName("button");
       for (var i = 0; i < buttons.length; i++) {
           if (buttons[i].id == "button1" && screenId == "screen1") {
               buttons[i].classList.add("active");
           } else if (buttons[i].id == "button2" && screenId == "screen2") {
               buttons[i].classList.add("active");
           } else {
               buttons[i].classList.remove("active");
           }
       }
   }
    
</script>






 