
  <div class="suppliments">
     <div class="container" >
       
    
     </div>
  </div>

<style>
  .container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
</style>
  

{% schema %}
{
    "name": "Suppliments",
    "tag": "section",
    "class": "suppliments",
    "disabled_on": {
        "groups": [
            "header",
            "footer"
        ]
    },
   
     "blocks": [
        {
          "type": "slides",
          "name": "Slides",
          "settings": [
              {
                  "type": "image_picker",
                  "id": "image",
                  "label": "Image"
              },
              {
                  "type": "text",
                  "id": "title",
                  "label": "Title"
              },

              {
                  "type": "richtext",
                  "id": "content",
                  "label": "Content"
              }

          ]
        }
      ],
    "presets": [{
        "name": "Suppliments"
    }]
}
{% endschema %}






 