<section class="supplement-info">
  <div class="container">
    <div class="tabs">
      <div class="tab active">Overview <i class="fa-light fa-angle-right"></i></div>
      <div class="tab">Ingredients <i class="fa-light fa-angle-right"></i></div>
      <div class="tab">FAQ <i class="fa-light fa-angle-right"></i></div>
    </div>

    <div class="content-wrapper">
      <div class="content overview active">
        <div class="overview-wrapper w-[60%]">

          <div class="supplement-wrapper flex gap-8 pb-8">
            <div class="supplement-info flex flex-col w-1/2 gap-4">
              <h6 class="title">Curalin</h6>
              <div class="subtitle text-[--blue] font-bold">Say goodbye to frustration and hello to a healthy, natural way to support healthy glucose levels.</div>
              <div class="description">Curalin stands out as a leader in natural blood sugar support, renowned for its effective clinically proven approach to maintaining blood sugar levels within the normal range.*</div>
            </div>

            <div class="supplement-benefits w-1/2">
              <ul>
                <li>Support and Maintain Healthy Blood Glucose Levels*</li>
                <li>Boost Daily Energy and Reduce Fatigue*</li>
                <li>Blending ancient Ayurveda practices with modern science and technology.</li>
                <li>Assist in Achieving Balanced Dietary Goals*</li>
              </ul>
            </div>
          </div>

          <div class="notice pt-4 border-t border-[--blue]">Take on each day with confidence, powered by Curalin’s natural blend designed for those who demand excellence from their supplements.</div>
        </div>

        <img src="{{ section.settings.overview_image | img_url: 'master' }}" alt="Overview" class="overview-image">
      </div>

      <div class="content ingredients">
        <img src="{{ section.settings.ingredients_image | img_url: 'master' }}" alt="Ingredients" class="ingredients-image">
      </div>

      <div class="content faq">
        {% render 'product-faq-section',
          bgColor: section.settings.bg_color,
          titles_color: section.settings.titles_color,
          title: section.settings.title,
          main_image: section.settings.main_image,
          is_ingredients_feature: section.settings.is_ingredients_feature,
          is_allow_one_open: section.settings.is_allow_one_open,
          data_type: "json",
          faqItems: product.metafields.custom.faq.value
        %}
      </div>
    </div>
  </div>
</section>

<script>
  $(document).ready(function() {
    $('.tabs .tab').click(function() {
      $('.tabs .tab').removeClass('active');
      $(this).addClass('active');

      $('.content > div').removeClass('active');
      $('.content > div').eq($(this).index()).addClass('active');
    });
  });
</script>

<style>
  .supplement-info {
    .tabs {
      display: flex;
      gap: 2rem;
      margin-bottom: 2rem;

      .tab {
        text-align: center;
        padding: 1rem;
        background-color: var(--light-blue);
        width: 250px;
        border-radius: 30px;
        transition: background-color 0.3s ease-in-out;

        &.active,
        &:hover {
          cursor: pointer;
          background-color: var(--blue);
          color: white;
          font-weight: bold;
        }
      }
    }

    .content-wrapper {
      .content {
        display: none;

        &.active {
          display: block;
        }

        .overview {
          .supplement-wrapper {
            .supplement-benefits {
              ul {
                li {
                  color: var(--bronze);
                  font-weight: bold;

                  &:before {
                    background: var(--bronze);
                  }
                }
              }
            }
          }

          img {
            position: absolute;
            right: -80px;
            top: -30px;
          }
        }
      }
    }
  }
</style>

{% schema %}
  {
      "name": "Supplement Info",
      "settings": [
        {
          "type": "image_picker",
          "id": "overview_image",
          "label": "Overview Image"
        },
        {
          "type": "image_picker",
          "id": "ingredients_image",
          "label": "Ingredients Image"
        }
      ],
      "presets": [
      {
          "name": "Supplement Info"
      }
    ]
  }
{% endschema %}