<section class="supplement-info">
  <div class="tabs">
    <div class="tab">Overview <i class="fa-light fa-angle-right"></i></div>
    <div class="tab">Ingredients <i class="fa-light fa-angle-right"></i></div>
    <div class="tab">FAQ <i class="fa-light fa-angle-right"></i></div>
  </div>

  <div class="content">
    <div class="overview">

    </div>

    <div class="ingredients">
      <h2>Ingredients</h2>
      <p>Our <strong>Supplement Info</strong> section is a great way to provide your customers with more information about your products. You can use this section to display the ingredients, nutritional information, or any other information you want to share.</p>
      <p>Use the <strong>Rich Text</strong> editor to add more information about your products. You can also add images, videos, and links to other pages.</p>
    </div>

    <div class="faq">
      <h2>FAQ</h2>
      <p>Our <strong>Supplement Info</strong> section is a great way to provide your customers with more information about your products. You can use this section to display the ingredients, nutritional information, or any other information you want to share.</p>
      <p>Use the <strong>Rich Text</strong> editor to add more information about your products. You can also add images, videos, and links to other pages.</p>
    </div>
  </div>
</section>

{% schema %}
  {
      "name": "Supplement Info",
      "settings": [

      ],
      "presets": [
      {
          "name": "Supplement Info"
      }
    ]
  }
{% endschema %}