<section class="supplement-info">
  <div class="container">
    <div class="tabs">
      <div class="tab">Overview <i class="fa-light fa-angle-right"></i></div>
      <div class="tab">Ingredients <i class="fa-light fa-angle-right"></i></div>
      <div class="tab">FAQ <i class="fa-light fa-angle-right"></i></div>
    </div>

    <div class="content">
      <div class="overview">
        <div class="overview-wrapper">

          <div class="supplement-wrapper">
            <div class="supplement-info">
              <h6 class="title">Curalin</h6>
              <div class="subtitle">Say goodbye to frustration and hello to a healthy, natural way to support healthy glucose levels.</div>
              <div class="description">Curalin stands out as a leader in natural blood sugar support, renowned for its effective clinically proven approach to maintaining blood sugar levels within the normal range.*</div>
            </div>

            <div class="supplement-benefits">
              <ul>
                <li>Support and Maintain Healthy Blood Glucose Levels*</li>
                <li>Boost Daily Energy and Reduce Fatigue*</li>
                <li>Blending ancient Ayurveda practices with modern science and technology.</li>
                <li>Assist in Achieving Balanced Dietary Goals*</li>
              </ul>
            </div>
          </div>

          <div class="notice">Take on each day with confidence, powered by Curalin’s natural blend designed for those who demand excellence from their supplements.</div>
        </div>

        <img src="{{ section.settings.overview_image | img_url: 'master' }}" alt="Overview" class="overview-image">
      </div>

      <div class="ingredients">
        <img src="{{ section.settings.ingredients_image | img_url: 'master' }}" alt="Ingredients" class="ingredients-image">
      </div>

      <div class="faq">
        {% render 'product-faq-section',
          bgColor: section.settings.bg_color,
          titles_color: section.settings.titles_color,
          title: section.settings.title,
          main_image: section.settings.main_image,
          is_ingredients_feature: section.settings.is_ingredients_feature,
          is_allow_one_open: section.settings.is_allow_one_open,
          data_type: "json",
          faqItems: product.metafields.custom.faq.value
        %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
      "name": "Supplement Info",
      "settings": [
        {
          "type": "image_picker",
          "id": "overview_image",
          "label": "Overview Image"
        },
        {
          "type": "image_picker",
          "id": "ingredients_image",
          "label": "Ingredients Image"
        }
      ],
      "presets": [
      {
          "name": "Supplement Info"
      }
    ]
  }
{% endschema %}