<section class="customer-reviews">
  <div class="container relative">
    {% render 'title', title: 'These are natural ingredients', title_tag: 'h2', subtitle: ' chosen for how well they work with the body both individually as well as in synergy, and that have been proven in numerous studies well before we set on our path: ', title_color: 'var(--blue)' %}

    <div class="ingredients flex flex-col gap-4 mt-8">
      <div class="ingredient flex items-center gap-4">
        <img class="w-[30%]" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/ingredient-capsule_2.png?v=1707309406" alt="Ingredient 1">
        <div class="info w-[70%]">
          <h6 class="title text-[--blue]">Gymnema Sylvestre</h6>
          <div class="description">
            I’ll begin with Gymnema Sylvestre, known as "the sugar destroyer." This herb, native to Africa, India, and Australia, has been used for various ailments for centuries, including blood sugar balance.
  <br>
            Its unique compounds, especially Gymnemic acid, play a significant role in managing carbohydrate cravings, directly supporting hormonal balance.
  <br>
            Clinical studies also validate its effectiveness in managing blood sugar, showcasing its ability to influence the body's hormonal responses, especially in terms of insulin release and sugar absorption. 
          </div>
        </div>
      </div>

      <div class="ingredient flex flex-row-reverse items-center gap-4">
        <img class="w-[30%]" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/ingredient-capsule_3.png?v=1707309406" alt="Turmeric">
        <div class="info w-[70%]">
          <h6 class="title text-[--blue]">Turmeric</h6>
          <div class="description">
  The second ingredient is a wonder root you probably have heard about. Turmeric, renowned for its health benefits, goes beyond being a spice. Its active component, curcumin, is pivotal in maintaining blood glucose balance and enhancing immune health. It's effective in harmonizing the body's natural processes, especially in supporting pancreatic health and immune system strength.
          </div>
        </div>
      </div>

      <div class="ingredient flex items-center gap-4">
        <img class="w-[30%]" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/ingredient-capsule_4.png?v=1707309406" alt="Picrorhiza Kurroa">
        <div class="info w-[70%]">
          <h6 class="title text-[--blue]">Picrorhiza Kurroa</h6>
          <div class="description">
            The next ingredient is very unique and to make sure of its quality and potency we source it only from the far reaches of the Himalayas. Its name is Picrorhiza Kurroa. We call it the Himalayan gem.
            <br>Its detoxifying properties cleanse the liver, contributing to optimal liver function and thereby influencing the body's glucose metabolism. The purity and potency of Himalayan-sourced Picrorhiza Kurroa are second to none, and though it's scarce and very expensive to buy, we don’t compromise. 
          </div>
        </div>
      </div>

      <div class="ingredient flex flex-row-reverse items-center gap-4">
        <img class="w-[30%]" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/ingredient-capsule_5.png?v=1707309406" alt="Amla">
        <div class="info w-[70%]">
          <h6 class="title text-[--blue]">Amla</h6>
          <div class="description">
            Amla, enriched with Tannoid, can play a crucial role in enhancing the functions of pancreatic cells. Due to its unique molecular structure, Amla is quickly and easily digested. Thus, its active compounds can quickly aid in the optimal functioning of the pancreas. 
          </div>
        </div>
      </div>

      <div class="ingredient flex items-center gap-4">
        <img class="w-[30%]" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/ingredient-capsule_6.png?v=1707309406" alt="Cinnamon">
        <div class="info w-[70%]">
          <h6 class="title text-[--blue]">Cinnamon</h6>
          <div class="description">
            Cinnamon, the king of spices, has been used in Ayurvedic medicine for years to support cardiovascular and glucose health. We found that due to its richness in Cinnamtannin B1, it helps in managing glucose absorption and insulin release, crucial for maintaining steady blood sugar levels. It also aids in weight management and heart health. 
            <br>I’ll let you in on a secret - not all Cinnamon works the same. We use a specific cinnamon - Cinnamomum Zeylanicum also known as Cinnamomum verum or Ceylon cinnamon. Why? for its high potency and quality of active compounds.
          </div>
        </div>
      </div>

      <div class="notice text-[--blue] bg-[--light-blue] border border-[--blue] rounded-md">
        Before I continue to the rest of the ingredients, I want to extend a promise to you. Through our research, we have proven that using the best, highest-quality ingredients is crucial to ensure the effectiveness of the finished formula. 
        <br><br>
        So here’s my promise to you - we never and will never compromise on the quality of the ingredients we use. The way I see it? You deserve the best nature has to offer. 
        <br><br>
        Now let’s get back to overviewing the rest of the ingredients in our formula…
      </div>

      <div class="ingredient flex flex-row-reverse items-center gap-4">
        <img class="w-[30%]" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/ingredient-capsule_7.png?v=1707309406" alt="Swertia Chirata">
        <div class="info w-[70%]">
          <h6 class="title text-[--blue]">Swertia Chirata</h6>
          <div class="description">
            Swertia Chirata key for balancing glucose metabolism. It enhances the body's insulin efficiency and helps to optimize glucose absorption in the digestive system, bringing it into harmony with the body's needs.
          </div>
        </div>
      </div>

      <div class="ingredient flex items-center gap-4">
        <img class="w-[30%]" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/ingredient-capsule_8.png?v=1707309406" alt="Bitter Melon">
        <div class="info w-[70%]">
          <h6 class="title text-[--blue]">Bitter Melon</h6>
          <div class="description">
            When it comes to blood sugar balance Bitter Melon is a champion.  It supports pancreatic health and optimizes glucose absorption, enhancing natural insulin sensitivity. Bitter Melon's unique phytoconstituents like Vicine and Charantin can be effective in maintaining healthy blood sugar levels.
            <br>It's also a powerful antioxidant, providing an extra layer of health protection. 
          </div>
        </div>
      </div>

      <div class="ingredient flex flex-row-reverse items-center gap-4">
        <img class="w-[30%]" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/ingredient-capsule_4.png?v=1707309406" alt="Fenugreek">
        <div class="info w-[70%]">
          <h6 class="title text-[--blue]">Fenugreek</h6>
          <div class="description">
            Fenugreek, rich in fiber and alkaloids, is exceptional for carbohydrate absorption management. The blend of alkaloids and Saponin in Fenugreek enhances this process, playing a significant role in balancing the hormonal interactions between the digestive system and the pancreas. 
          </div>
        </div>
      </div>

      <div class="ingredient flex items-center gap-4">
        <img class="w-[30%]" src="https://cdn.shopify.com/s/files/1/0452/2459/1511/files/ingredient-capsule_1.png?v=1707309406" alt="Syzygium Cumini">
        <div class="info w-[70%]">
          <h6 class="title text-[--blue]">Syzygium Cumini</h6>
          <div class="description">
            The last ingredient I want to tell you about today is Syzygium Cumini. Rich in compounds like Anthocyanins and Ellagic acid, it excels in supporting healthy fasting blood glucose levels. 
            <br><br>
            Its unique blend of phytoconstituents works synergistically to support the body's natural glucose regulation. 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "VSL Ingredients",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "presets": [
    {
      "name": "VSL Ingredients"
    }
  ]
}
{% endschema %}